[2020-10-27 17:05] christopherhein opened #3 "Add Office Hours Google doc to Readme"
Link should be - https://docs.google.com/document/d/10aTeq2lhXW_3aFQAd_MdGjY8PtZPslKhZCCcXxFp3_Q/edit#

[2020-10-27 17:24] christopherhein opened #4 "High Level CAPN Goals"
Prelim Goals:
- To configure new resource types for nested pod based control planes
- To enable declarative orchestrated control plane upgrades (minus etcd)
- To enable independent scaling of each of the control plane components
- To enable configuring the control plane components
- To enable the use of custom implementations for all components

Prelim Non-Goals:

- To manage etcd, it's expected t

[2020-10-27 17:25] christopherhein opened #5 "High Level User Stories"
1. As a control plane operator, I want my Kubernetes control plane to have multiple replicas to meet my zero down time needs.
2. As a control plane operator, I want to be able declare how each control plane is configured.
3. As a control plane operator, I want to be able to rotate the certificates on all components so that my cluster continues to run
4. As a developer, I want to be able to use con

[2020-10-27 17:26] christopherhein commented on #5
@salaxander @Fei-Guo @weiling61 @charleszheng44

[2020-10-27 17:26] christopherhein commented on #4
@salaxander @Fei-Guo @weiling61 @charleszheng44

[2020-10-27 17:26] christopherhein commented on #5
Please add more User Stories for CAPN

[2020-10-27 17:26] christopherhein commented on #4
Please add more Goals/Non-Goals for CAPN

[2020-10-27 17:29] christopherhein opened #6 "High level base Architecture for CAPN"
We need to create a new proposal document from `/docs/template.md` which outlines the goals for the CAPN architecture.

[2020-10-27 17:30] christopherhein opened #7 "Proposal for ControlPlane Custom Resources"
This should cover how the all the `Nested*` types work together.

[2020-10-27 17:31] christopherhein commented on #7
/assign @charleszheng44

[2020-10-27 17:38] christopherhein commented on #6
/assign @christopherhein @Fei-Guo

[2020-10-27 17:38] christopherhein commented on #6
This should include diagrams about how we bring up all the objects for these nested control planes.

[2020-10-27 17:42] christopherhein commented on #5
We need to add a story about multi-tenancy use cases.

[2020-10-27 18:19] christopherhein commented on #6
Starting this document - https://docs.google.com/document/d/1hf-pFTjwTSkTr3zuqUtDERqYIF2oefDiPL-WzrkNzr4/edit?usp=sharing

this will use #5 and #4 to help guide this base architecture and we'll have a deeper dive on individual types in #7

[2020-10-28 05:06] charleszheng44 commented on #4
Though manging Etcd is not our goal, to increase the development velocity, can we implement a basic NestedEtcd controller that creates in-mem Etcds for NestedControlPlanes? In the future, we can make CAPN compatible to some third-party Etcd-operators.

[2020-10-28 13:35] enxebre commented on #4
Some high level goals I'd like to include:
- To reinforce responsibility boundaries between cluster provider and cluster consumer / Service plane vs data plane.
- To shift content out of consumer-visible (kubeconfig) cluster data plane to service control plane. Externalizes etcd, kube-{apiserver|controller}, scheduler, auth, identity to management cluster.
- To reduce cost per cluster by deploying

[2020-10-29 03:07] christopherhein commented on #4
Yes, agree @charleszheng44.

[2020-10-29 03:14] christopherhein commented on #4
@enxebre these are great and I agree should be added.

One thing, with "reduce cost per cluster"? I'm concerned that might be all dependent on where the control planes are provided. At least w.r.t physical "$". Am I misinterpreting what you mean?

[2020-10-29 17:19] shubheksha opened #8 "Add design docs to kubernetes/enhancements instead of this repo"
Should we consider adding them to k/e to go through the KEP process and have a single source of truth instead of this repo?

/cc @christopherhein @munnerz

[2020-10-29 18:06] christopherhein commented on #8
I don't think it's totally necessary, with this directory I'm following a long with the CAEP format https://github.com/kubernetes-sigs/cluster-api/tree/master/docs/proposals it's also what we have in controller-runtime/designs and kubebuilder/designs

The idea here is to be pretty specific to the CAPN experience￼, potentially as we find areas where improvements need to happen for other projects we

[2020-10-29 18:12] munnerz commented on #8
I personally would be in favour of k/e simply from a visibility standpoint - whilst most CAPI providers interact with external services, this one is very kubernetes-native and relies on certain properties of the way Kubernetes works (and the assumptions we'll need to make wrt. APIs that we are syncing).

I think getting e.g. sig-api-machinery's eyes on it all would be really beneficial, and could

[2020-10-29 18:14] munnerz commented on #8
Given the nature of the 'deployment target' (i.e. Kubernetes) I think that this project is quite cross-cutting, unlike most other CAPI providers which integrate/interact with regular ol' cloud providers.

[2020-10-30 04:00] christopherhein commented on #8
Yeah, those are fair points @munnerz. The syncing logic would be good to get more eyes on it as we bring that code over. CAPI types are more what I was referring to since we haven't even discussed what that's going to look like. Good call you 👍

[2020-10-30 13:16] shubheksha commented on #8
I was told that WG don't have their own folders in k/e since they're sponsored by SIGs and it's upto them to decide where they docs should live. Which SIG do y'all think would be the most relevant in this case?

[2020-10-30 14:02] christopherhein commented on #8
SSIG Cluster Lifecycle is the sponsoring SIG for this since it falls under CAPI. I'd assume we'd just use that.

[2020-10-30 23:29] christopherhein commented on #3
/assign

[2020-10-30 23:53] #3 closed

[2020-11-03 19:56] vincepri commented on #8
FWIW, CAPI doesn't use k/e, at least for now. We have an issue upstream to document our process and where all our proposals are stored.

[2020-11-03 22:42] christopherhein commented on #8
Thanks for adding that extra information @vincepri

[2020-11-10 17:48] shubheksha commented on #8
@christopherhein @munnerz do we have consensus on moving these to k/e? I'll close this issue if so.

[2020-11-10 19:41] christopherhein commented on #8
I don't think we do. I'm proposing we follow the CAPI style of keeping these proposals in-tree and as we get to the syncing logic + vn-agent work which will be added back in after we have the new apis done we can reconsider potentially use k/e for those.

Additional note there is a larger CAPI goal to do an overall API review when the project goes to `v1beta1` I assume we'd following along with.

[2020-11-11 05:03] brightzheng100 commented on #5
There should have some level of delegation from super admin to tenant / nested cluster admin(s) so these use cases might be valid as well:

- As a tenant / nested cluster admin, I want to be able to connect to an authn/authz provider so that I can onboard my users;
- As a tenant / nested cluster admin, I want to be able to act like a real K8s admin to create cluster-wide objects, e.g. CRDs, namesp

[2020-11-11 05:21] christopherhein commented on #5
Thanks @brightzheng100

[2020-11-17 05:07] charleszheng44 opened #14 "Who will fill out the ownerreference of the component CR."
As discussed in the PR #11 , we all agree that there will be multiple CRs, `NestedAPIServer`, `NestedEtcd` and `NestedControllerManager`, to associate them, we plan to set each component CR's `metav1.OwnerReference` as the owner NCP. But who will fill out the `OwnerReference` for component CRs?

We can let the end user do it, but the `metav1.OwnerReference` are normally filled out by the controlle

[2020-11-17 09:12] christopherhein commented on #14
Agree with all except the labels, I think the NCP should have the fields from your proposal as references and then when NCP finds the associated `Nested*` it will add the `metav1.OwnerReferences`.

[2020-11-17 17:21] charleszheng44 commented on #14
@christopherhein Do you mean we can add `ObjectReference` in `NesterControlPlane.Spec`?

[code]
That would be great if we can have these fields in the NCP spec.

[2020-11-17 18:07] christopherhein commented on #14
Yeah, that is what I'm thinking, that would setup the connection from NCP to component CR, and then ownerReferences would setup the bidirectional connection for component -> CR.

[2020-11-18 00:45] charleszheng44 commented on #14
will add object reference to the NCP spec.

[2020-11-18 00:45] #14 closed

[2020-11-19 05:24] christopherhein commented on #8
@shubheksha good to close?

[2020-11-19 05:27] christopherhein opened #15 "Change flag names in `main.go`"
To help align the flags in this provider with Kubernetes component standards we should change the flag names https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/master/main.go#L66-L79

[code]

[2020-11-19 05:28] christopherhein commented on #15
/kind feature

[2020-11-19 05:28] christopherhein commented on #15
/priority important-soon

[2020-11-19 05:29] christopherhein commented on #7
/kind design

[2020-11-19 05:29] christopherhein commented on #7
/priority important-soon

[2020-11-19 05:29] christopherhein commented on #5
/kind design

[2020-11-19 05:30] christopherhein commented on #4
/kind design

[2020-11-19 05:30] christopherhein commented on #6
/kind design

[2020-11-19 05:30] christopherhein commented on #6
/priority important-soon

[2020-11-19 08:09] christopherhein commented on #15
/assign

[2020-11-20 00:54] christopherhein commented on #15
/closed

[2020-11-20 00:58] christopherhein commented on #15
/close

[2020-11-20 00:58] #15 closed

[2020-11-30 02:49] vincepri commented on #7
One little suggestion, for diagrams I'd suggest using PlantUML and reuse the build infrastructure we've got upstream https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/Makefile#L28

By running `make diagrams`, the directive generates all PlantUML diagrams under docs/** and places them right next to the PlantUML file, vscode also has a nice extension for it :)

[2020-12-01 17:56] christopherhein commented on #7
great idea @vincepri

[2020-12-01 18:02] christopherhein opened #18 "Update Resources Design Document to use PlantUML"
Vince had pointed us to that CAPI providers typically have a `make` target to help create diagrams that are managed in the repo, this issue is to go back and make the control plane resources using PlantUML https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/7#issuecomment-735514947

[2020-12-01 18:14] christopherhein opened #19 "Create base scaffolding code for all three components"
This should use the design https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/10

[2020-12-01 18:15] christopherhein opened #20 "Create Controller for NestedEtcd implementation"
This should use the designs documented https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/10

[2020-12-01 18:15] christopherhein commented on #20
/priority important-soon

[2020-12-01 18:15] christopherhein commented on #19
/priority important-soon

[2020-12-01 18:15] christopherhein commented on #19
/assign @charleszheng44

[2020-12-01 18:19] christopherhein opened #21 "Create controller for NestedAPIServer"
This should use the design https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/10

[2020-12-01 18:20] christopherhein opened #22 "Create NestedControllerManager Component"
This should use the design from https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/10

[2020-12-01 18:21] christopherhein commented on #22
/priority important-soon

[2020-12-01 18:21] christopherhein commented on #21
/priority important-soon

[2020-12-01 18:22] christopherhein commented on #7
/close

[2020-12-01 18:22] #7 closed

[2020-12-01 18:43] charleszheng44 commented on #20
/assign

[2020-12-01 18:59] shubheksha commented on #8
My main motivation for moving this into `k/e` was higher visibility to ensure we aren't building this in a silo. I spoke with Chris offline and he shared how he's approaching this. I'll create a separate issue for a roadmap where we can track milestones and include visibility/reviews/community buy-in with it. Closing this now.

[2020-12-01 18:59] #8 closed

[2020-12-01 19:38] kfox1111 opened #23 "Admiralty"
I bumped into Admiralty recently. Could it be part of the solution?

https://github.com/virtual-kubelet/virtual-kubelet#admiralty-multi-cluster-scheduler

[2020-12-01 21:11] christopherhein commented on #23
Interesting, I'm not super familiar with this project. Seems like something we could eventually look into supporting, given that the nested clusters don't actually run schedulers it would end up being the management/super cluster that runs the scheduler and the CAPN cluster wouldn't have any idea about what is going on behind the scenes.

That being said, I'd love to learn more.

/cc @Fei-Guo who

[2020-12-01 21:12] christopherhein commented on #23
/kind design

[2020-12-01 21:13] christopherhein commented on #23
/help-wanted

[2020-12-01 21:53] Fei-Guo commented on #23
It is similar to what I have been thinking about to some extend but our solution should be simpler ( to understand and to implement) since there is no VK sitting in between.

[2020-12-01 22:03] kfox1111 commented on #23
Yeah, maybe the cluster-api-provider-nested could deploy a virtual kubelet / admiralty per cluster it manages and hooks it up to a control plane.

It may be a bit heavier weight then doing without VK, but the amount of shared code need to get it all to work, with all the schedulers and such may make up for it? So much less needed to implement?

[2020-12-07 21:36] kfox1111 commented on #4
I wonder if this helm chart might help with an initial bootstrapping implementation:
https://github.com/kvaps/kubernetes-in-kubernetes/tree/master/deploy/helm/kubernetes

It is pretty easy to map crd values to a helm chart values file and deploy that way. This can allow iterating with the api to get it right much more quickly then trying to write it from scratch in something like go. Once the api

[2020-12-08 17:55] christopherhein commented on #4
Thanks @kfox1111, yeah. I was taking a look at that recently as it was shared on the SCL mailing list. Looks like a neat implementation. I like that it's orchestrated with kubeadm at parts even though the templating is done upfront.

We currently have a similar approach which is backed by a controller that we're in essence reimplementing the API in this project. https://github.com/kubernetes-sigs/

[2020-12-15 17:53] christopherhein commented on #22
/close

this was resolved in #24

[2020-12-15 17:53] #22 closed

[2021-02-23 18:12] christopherhein opened #31 "📖 Update NestedComponent Controller Docs with new PKI Strategy"
This issue is tracking the work to update the original designs for NKAS NEtcd and NKCM  based on the changes from https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/29#pullrequestreview-588926294

[2021-02-23 18:14] christopherhein opened #32 "Create Controller for NestedCluster"
https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/29

[2021-02-23 18:14] christopherhein opened #33 "Create NestedControlPlane controller and types"
https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/29

[2021-02-23 18:14] christopherhein opened #34 "Create Controller and types for NestedControllerManager"
https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/29

[2021-02-23 18:18] christopherhein commented on #23
/assign @Fei-Guo

[2021-02-23 18:19] christopherhein commented on #21
/assign

[2021-02-23 18:19] christopherhein commented on #31
/assign

[2021-02-23 18:31] christopherhein commented on #4
/milestone v0.1.0

[2021-02-23 18:32] christopherhein opened #35 "Add Milestone test infra plugin"

[2021-02-23 19:18] Fei-Guo commented on #23
I took a close look at Admiralty. The fundamental concept wise difference is that Admiralty uses a VK to hide underlying  node topology. From the user's perspective, all Pods are scheduled in the same vk node. While in VC, there is one to one mapping between a tenant vNode and a super cluster physical node so entire K8s node semantics are preserved. Also, I don't see how Admiralty handles synchron

[2021-02-23 23:19] christopherhein commented on #35
This should have been closed with the referenced plugin.
/close

[2021-02-23 23:19] #35 closed

[2021-02-23 23:19] christopherhein commented on #4
/milestone v0.1.0

[2021-02-23 23:21] christopherhein commented on #5
/milestone v0.1.0

[2021-02-23 23:21] christopherhein commented on #6
/milestone v0.1.0

[2021-02-23 23:21] christopherhein commented on #19
/milestone v0.1.0

[2021-02-23 23:21] christopherhein commented on #20
/milestone v0.1.0

[2021-02-23 23:22] christopherhein commented on #21
/milestone v0.1.0

[2021-02-23 23:22] christopherhein commented on #31
/milestone v0.1.0

[2021-02-23 23:22] christopherhein commented on #32
/milestone v0.1.0

[2021-02-23 23:22] christopherhein commented on #33
/milestone v0.1.0

[2021-02-23 23:22] christopherhein commented on #34
/milestone v0.1.0

[2021-02-25 23:22] christopherhein commented on #21
/unassign

[2021-02-25 23:23] christopherhein commented on #21
/assign @charleszheng44

[2021-03-01 18:30] vincepri commented on #18
/lifecycle frozen

[2021-03-23 17:11] christopherhein commented on #20
/close

[2021-03-23 17:11] #20 closed

[2021-03-23 17:12] christopherhein commented on #34
@charleszheng44 are you assigned and working on this?

[2021-03-23 17:13] christopherhein commented on #4
/close

[2021-03-23 17:13] #4 closed

[2021-03-23 17:14] christopherhein commented on #5
/close

[2021-03-23 17:14] #5 closed

[2021-03-23 17:14] christopherhein commented on #33
/close in favor of #34

[2021-03-23 17:15] christopherhein commented on #6
/close

[2021-03-23 17:15] #6 closed

[2021-03-23 17:15] christopherhein commented on #19
/close

[2021-03-23 17:15] #19 closed

[2021-03-23 17:16] christopherhein commented on #33
/close

[2021-03-23 17:17] christopherhein commented on #34
/reopen

[2021-03-23 17:17] christopherhein commented on #33
Improperly closed.
/reopen

[2021-03-23 17:18] christopherhein commented on #33
/assign

[2021-03-23 17:18] christopherhein commented on #32
/assign

[2021-03-23 18:12] charleszheng44 commented on #34
Yes, I am working on the NKAS and NKCM controller. The PR will be ready by the end of this week

[2021-04-16 01:55] gyliu513 opened #41 "virtualcluster: Enable olm by default in tenant cluster"
many end users are now using operator to manage their components, it would be great for the tenant cluster enable OLM by default, then all of the tenant cluster can manage operators by default.

Hope we can leverage the cluster api to deploy some addon components like olm etc.

This is a requirement in https://github.com/kubernetes-sigs/multi-tenancy/issues/1475

@Fei-Guo ^^

[2021-04-20 20:53] christopherhein commented on #41
Hey @gyliu513 thanks for filing this issue. Because this project is based on CAPI methodologies and interfaces we _should_ be able to piggy back on the `ClusterResourceSet` type that is exposed via CAPI, this currently supports `mode: "ApplyOnce"` which will apply the addon/extra resources once the cluster comes up and we're able to address the control plane. This should accomplish what you are lo

[2021-04-20 20:54] christopherhein commented on #41
/kind feature

[2021-05-05 14:21] christopherhein commented on #34
/close

This was implemented in #40

[2021-05-05 14:21] #34 closed

[2021-05-05 14:27] christopherhein commented on #21
/close #37

[2021-05-05 14:28] christopherhein commented on #21
/close

Implemented in #37

[2021-05-05 14:28] #21 closed

[2021-05-05 14:39] christopherhein commented on #41
@gyliu513 so we can keep this issue open and make sure we track this I'm going to retitle this and purpose it towards testing that `ClusterResourceSet`'s from CAPI work CAPN's design. wdyt?

[2021-05-05 14:41] christopherhein commented on #23
Would you two say we can close this issue for now, it sounds like CAPN wouldn't need to implement anything to support Admirality more that Admirality could potentially integrate through native k8s hooks with CAPN. Seem reasonable @Fei-Guo @kfox1111?

[2021-05-05 14:41] christopherhein commented on #31
/kind docs

[2021-05-05 14:41] christopherhein commented on #31
/kind documentation

[2021-05-05 14:43] christopherhein commented on #23
/remove-kind design

[2021-05-05 14:43] christopherhein commented on #41
/remove-kind feature

[2021-05-05 15:23] kfox1111 commented on #23
I think so.

[2021-05-05 17:06] christopherhein commented on #23
/close

[2021-05-05 17:06] #23 closed

[2021-05-05 19:15] christopherhein opened #44 "🌱 Investigate using KubeadmControlPlane (KCP) for NestedCluster"
## TL;DR
This is a spike to investigate what it would be like to use KCP for implementing CAPN. https://github.com/kubernetes-sigs/cluster-api/tree/master/controlplane/kubeadm KCP uses Kubeadm's `ClusterConfiguration` object and is what nearly all Cluster API providers use, this was originally not gone with because it only supports cloudinit based deployments.

## Background:
KCP needs to map to `

[2021-05-05 19:15] christopherhein commented on #44
/assign @charleszheng44

[2021-05-05 19:56] christopherhein opened #45 "⚠️ Move controlplane.cluster.x-k8s.io components to controlplane/"
When we look at other CAPI implementations instead of using `multi-group` controllers they typically are deployed as independent controllers, they're even built this way, for example see kcp in `controlplane/kubeadm/` in https://github.com/kubernetes-sigs/cluster-ap while the main types `NestedCluster` in our world live usually at the top level, eg https://github.com/kubernetes-sigs/cluster-api-pr

[2021-05-05 20:26] christopherhein opened #46 "🌱 Setup Prow Presubmits"
We should have our PRs being tested for us with Prow on PR submission so we can have better assurance of the code.

## Links

* Docs: https://github.com/kubernetes/test-infra/blob/master/config/jobs/README.md#adding-or-updating-jobs
* Testing Locally: https://github.com/kubernetes/test-infra/blob/master/prow/cmd/phaino/README.md
* Example: https://github.com/kubernetes/test-infra/blob/master/confi

[2021-05-05 20:29] christopherhein commented on #46
/assign

[2021-05-05 21:01] christopherhein opened #47 "⚠️ Change default branch to "main""
Instructions here https://www.kubernetes.dev/resources/rename/

## Anytime

- [x] If a presubmit or postsubmit prowjob triggers on the master branch (branches field of the prowjob), add the main branch to the list (see kubernetes/test-infra#20665 for an example).
- [x] If the milestone_applier prow config references the master branch, add the main branch to the config (see kubernetes/test-infra#20

[2021-05-05 21:02] christopherhein commented on #47
/milestone v0.1.x

[2021-05-06 04:15] #32 closed

[2021-05-06 04:15] #33 closed

[2021-05-06 05:34] christopherhein commented on #45
/milestone v0.1.x

[2021-05-06 09:43] gyliu513 opened #50 "make docker-build failed"
[code]

[2021-05-06 12:24] gyliu513 commented on #41
@christopherhein sounds good, thanks!

[2021-05-06 19:11] christopherhein commented on #41
/retitle 🌱 Support CAPI ClusterResourceSet

[2021-05-06 22:13] #50 closed

[2021-05-07 18:24] Fei-Guo opened #52 "Write a tutorial for new CAPN users"
We need to provide a document to describe how to launch a pod base control plane from scratch.

[2021-05-07 18:24] Fei-Guo commented on #52
/assign @charleszheng44

[2021-05-07 20:49] #46 closed

[2021-05-11 20:32] christopherhein commented on #52
That's fair, I'll file some issues for generating all the `clusterctl` needed manifests for CAPN to work with `clusterctl`.

[2021-05-11 21:06] christopherhein opened #54 "🌱 Setup CAPN to support clusterctl"
There are multiple manifests necessary to satify the `clusterctl` provider contract. We need to make sure CAPN has these files so users can:

[code]

### Links

https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html

[2021-05-11 21:09] christopherhein commented on #54
/milestone v0.1.x

[2021-05-11 22:34] christopherhein commented on #54
/assign

[2021-05-11 22:38] christopherhein commented on #54
/unassign

[2021-05-12 11:32] gyliu513 commented on #52
Hope we can have the tutorial as soon as possible so that users can have a early try ;)

[2021-05-18 04:17] #45 closed

[2021-05-18 16:41] christopherhein opened #59 "⚠️ Upgrade Controller Runtime in VirtualCluster"
This issue is to track upgrading from `v0.6.1` controller runtime to `v0.7.2+`. This brings on a lot of changes to Controller Runtime and is closer to the release we use for the rest of CAPN.

This will start the move towards more consistent usage of `contexts` throughout all the reconcilers and syncer and align us for easier integration.

[2021-05-18 16:42] christopherhein commented on #59
/milestone v0.1.x
/kind cleanup

[2021-05-18 16:42] christopherhein commented on #59
/assign

[2021-05-18 18:45] #52 closed

[2021-05-18 19:39] christopherhein commented on #52
@gyliu513 check out https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/master/docs/README.md and make sure that works for you, if not could you file w/e issues you have. Thanks!

[2021-05-18 19:43] christopherhein opened #60 "🌱 Add Release Prow Jobs"
Prior to the first version being released we need to add to the `scripts/` dir the proper release scripts as well as setup Prow release jobs. For now we should have just CAPN covered, we'll eventually create separate jobs for virtualcluster releases.

TODOS:
- [x] https://github.com/kubernetes/k8s.io/pull/2123/ Request GCP Project
- [x] Setup `Makefile`
- [x] Add Image build `prow` jobs

[2021-05-18 19:44] christopherhein commented on #60
/milestone v0.1.x

[2021-05-18 19:45] christopherhein commented on #60
@vincepri do you have any examples or guides in how other Cluster API Providers handle releases and what we need to setup? I believe we already have a lot of the tooling in-place but just need to wire it all together.

[2021-05-18 19:46] christopherhein opened #61 "🌱 Release v0.1.0"
This is an overarching issue to make sure we track whatever is left to accomplish for releasing CAPN.

[2021-05-18 19:46] christopherhein commented on #61
/milestone v0.1.x

[2021-05-18 20:21] christopherhein commented on #47
/assign @kubernetes/owners

[2021-05-18 22:08] vincepri commented on #60
For releases, we usually have a bunch of things setup:

- The Makefile targets to get the images built: https://github.com/kubernetes-sigs/cluster-api/blob/master/Makefile#L469-L577
  - There is a lot in here, you can probably remove a bunch of things given that CAPI builds releases multiple components as part of the release process.
- A cloudbuild job: https://github.com/kubernetes-sigs/cluster-a

[2021-05-18 22:24] spiffxp commented on #47
So I see you checked a bunch of boxes but what exactly did you do? Do you have links to PRs or descriptions of why you're good to go?

[2021-05-18 22:34] christopherhein commented on #47
Yea, we don't actually have a lot of work cause of this being a relatively new repo, we only had one Prow job which was added recently with this issue in mind, note our only Prow presubmit jobs - https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-nested/cluster-api-provider-nested-presubmits.yaml#L10 and in those the scripts that are called act so

[2021-05-19 04:23] spiffxp commented on #47
You'll want to take care of https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/fefd2138922b0d24a7ebe8c569cef0bc2f42e242/Makefile#L147

But +1 as a github admin to go ahead

[2021-05-19 05:10] christopherhein commented on #47
Good catch, thank you, I'll get that fixed up.

[2021-05-19 20:29] mazocode opened #62 "ClusterVersion CRD gets rejected on k8 v1.20.2"
The ClusterVersion CRD is using apiVersion v1beta1 which requires properties in x-kubernetes-list-map-keys to be required (validation was introduced with https://github.com/kubernetes/kubernetes/pull/88076/commits/2e187415fd582ea80bc316fb76cb30c3ad1aead4). v1 supports defaults too.

A manual rebuild with a newer controller-gen (I've used controller-tools 0.5.0) using
`controller-gen "crd:trivialVe

[2021-05-19 21:00] mazocode opened #63 "Unable to create a VirtualCluster on k8 v1.20.2"
## Problem

Virtual cluster does not deploy with k8 v1.20.2. Output from vc-manager:

The namespace and secrets were created but none of the statefulsets from the ClusterVersion.

## What I did

[code]

### Build kubectl-vc
[code]

### Create new CRDs
(see https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/62)

[code]

### Install CRD
[code]

### Create ns, rbac, deployment, ...

[2021-05-19 22:44] Fei-Guo commented on #63
I think the ClusterVersion crd schema introduces the problem. It is not a good idea to put StatefulSet schema directly in CRD Spec, we should define Pod spec instead.

To quickly workaround the problem, please change the ClusterVersion CRD schema to a much simpler version shown as below. I hope this can unblock you at least for now.

[code]

[2021-05-19 22:57] Fei-Guo commented on #63
Another attempt is to remove your controller-gen, the make script will download controller-gen0.3.0 which seems to be working fine previously.

You can check the make file to see more tricks for manipulating the crd, e.g:

[code]

[2021-05-19 23:29] mazocode commented on #63
Same result with controller-gen 0.3.0. I think the x-kubernetes-list-map-keys were added in 0.3.0 but at this time there was no validation in place. However, your workaround fixed the issue. Here is my first virtual cluster:

[code]

Is there a way to enforce a specific runtimeClassName for pods with the syncer? This woudl be great to enforce tolerations and a container runtime like kata for pods

[2021-05-19 23:41] mazocode commented on #63
Forgot a `make manifests`... works fine with controller-gen 0.3.0 and the workaround too :)

[2021-05-20 00:00] Fei-Guo commented on #63
If vPod specifies runtimeClassName to Kata, it should work. If you want to enforce/overwrite vPod runtimeClassTime to be fixed to Kata, you need to change the syncer code.

[2021-05-20 23:46] christopherhein opened #64 "🌱 Setup Prow Jobs for virtualcluster"
We should have presubmit jobs to make sure that ex - https://github.com/kubernetes/test-infra/pull/22090

[2021-05-21 15:40] christopherhein commented on #47
Branch has been changed in the Githuh UI and not is tracking the `main` branch. https://github.com/kubernetes-sigs/cluster-api-provider-nested/tree/main

[2021-05-21 15:47] christopherhein opened #65 "🐛 Clean up `master` references for APIDiff"
Aaron caught one change that will effect any submitted PR for APIDiff checking, where it used `master`, once we change the default branch we need to update this reference.

Ref #47

[2021-05-21 15:49] christopherhein commented on #65
/kind cleanup
/milestone v0.1.x

[2021-05-21 17:02] #65 closed

[2021-05-21 17:56] christopherhein opened #67 "✨ Clean up Prow referenced for old branch name"
There are three left over references to `master` in the presubmit, we need to clean those up to fully switch to `main`.

/kind cleanup
/milestone v0.1.x

Ref #47

[2021-05-21 18:06] christopherhein commented on #67
closes #47

[2021-05-21 18:12] #67 closed

[2021-05-21 18:13] christopherhein commented on #47
/close 🎉

[2021-05-21 18:15] christopherhein commented on #47
/close
Thanks folks for all your help on this! 🎉
https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/Woe731ONmBc

[2021-05-21 18:15] #47 closed

[2021-05-22 00:43] christopherhein commented on #64
/assign

[2021-05-22 01:17] #64 closed

[2021-05-22 01:35] christopherhein opened #69 "❓ Investigate v1.20 kubelet Redirection API Deprecation"
Redirection was removed which breaks the vn-agent when we upgrade, we should investigate if our APIs still function as they should or if we need to implement anything "new".

[2021-05-22 01:35] christopherhein commented on #69
/milestone v0.1.x
/kind cleanup

[2021-05-22 05:30] Fei-Guo commented on #69
Interesting, what is the new design for streaming api?

[2021-05-22 15:01] gyliu513 opened #71 "[Quick Start] Failed connect to cluster"
I was following https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/docs/README.md to run a quick. test for CAPN, but in last step, connect to the cluster failed, can anyone help share some insight for what is wrong?

@charleszheng44 ^^

[code]

I can see the nested control plane is running:

[code]

But the cluster status is `Provisioning`

[code]
[code]

[2021-05-22 18:31] charleszheng44 commented on #71
@gyliu513 thanks for filing the bug. There is an error in the quick start guide. For the second from the last step, would you do the following instead

[code]

[2021-05-22 18:37] christopherhein commented on #69
The streaming api still exists, the change was mainly to remove returning a 302 redirect instead to always locally stream through the kubelet as I'm understanding that KEP.

[2021-05-22 19:53] #71 closed

[2021-05-23 14:37] gyliu513 opened #74 "[Quick Start] Failed to connect to cluster"
[code]
[code]

@charleszheng44 ^^

[2021-05-23 14:38] gyliu513 commented on #71
Thanks @charleszheng44 , a new issue found at https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/74

[2021-05-23 19:08] charleszheng44 commented on #74
@gyliu513 would you try to do `nslookup cluster-sample-apiserver`?

[2021-05-24 00:15] christopherhein commented on #74
@charleszheng44 it appears macOS doesn't support `HOSTALIASES` - https://apple.stackexchange.com/questions/356972/how-can-i-make-macos-respect-hostaliases-environment-variable

[2021-05-24 00:29] christopherhein commented on #74
/kind bug
/label documentation

[2021-05-24 00:36] christopherhein commented on #60
@vincepri for the Cloudbuild job, do we need to make our own gcloud project or is this picked up via prow?

[2021-05-24 02:05] gyliu513 opened #75 "Move images from docker hub to quay"
Now all of the images for VC are hosted in docker hub.

The following cmd will create a `ClusterVersion` named `cv-sample-np`, which specifies the tenant master components as:
- `etcd`: a StatefulSet with `virtualcluster/etcd-v3.4.0` image, 1 replica;
- `apiServer`: a StatefulSet with `virtualcluster/apiserver-v1.16.2` image, 1 replica;
- `controllerManager`: a StatefulSet with `virtualcluster/con

[2021-05-24 02:14] christopherhein commented on #75
As a part of #61 and #60 these will get pushed to GCP and k8s owned orgs. What do you think about closing this in favor of those issues?

[2021-05-24 02:17] Fei-Guo commented on #75
If you are from mainland china, try to add env `GOPROXY=https://goproxy.cn` and see if the problem can be resolved?

[2021-05-24 02:33] gyliu513 commented on #75
@Fei-Guo Thanks, but I was using Kind, and Kind cluster failed to pull those images, how can I set this proxy to enable kind cluster can pick this up?

[2021-05-24 02:33] gyliu513 commented on #75
@christopherhein I want to get a workaround solution for this issue first before close, hope it is OK :)

[2021-05-24 03:06] gyliu513 commented on #75
Let me close it, seems GOPROXY does not work, but I can update the sts by referring to quay that managed by myself.

Thanks @christopherhein and @Fei-Guo !

[2021-05-24 03:06] #75 closed

[2021-05-24 03:45] gyliu513 commented on #74
@christopherhein @charleszheng44 seems Linux also does not work.

[code]
[code]
[code]
[code]

[2021-05-24 03:49] christopherhein commented on #74
Interesting, yeah I think we just need to have this say the instructions (for now) should tell you to just add it to `/etc/hosts` so it will actually work or at least that is what I do.

[2021-05-24 06:11] gyliu513 commented on #74
Thanks @christopherhein , /etc/hosts works for me, but not sure why `nslookup cluster-sample-apiserver` always failed.

[code]
[code]
[code]

[2021-05-24 06:18] christopherhein commented on #74
Seems like `nslookup` does purely DNS resolution but when you just add to the hosts file that's not populated in DNS. For `/etc/hosts` you should use `ping` or at least that's what https://askubuntu.com/questions/627906/why-is-my-etc-hosts-file-not-queried-when-nslookup-tries-to-resolve-an-address says.

[2021-05-24 06:31] #74 closed

[2021-05-24 06:37] christopherhein commented on #60
/assign

[2021-05-24 06:40] christopherhein commented on #61
/assign

[2021-05-24 15:37] vincepri commented on #60
@christopherhein Yes the setup is there, you'll also need to request a GCP project like the one in here https://github.com/kubernetes/k8s.io/tree/main/audit/projects/k8s-staging-cluster-api

[2021-05-24 16:28] christopherhein commented on #60
Awesome, thanks that part is what I was missing!

[2021-05-25 00:20] gyliu513 opened #77 "Consider how to handle shared instance with VC"
This issue is migrate from https://github.com/kubernetes-sigs/multi-tenancy/issues/1502

### Issue description

With VC, all of the components installed in tenant cluster will be isolated, and the tenant cluster will have all resources for a specified application.

Here the question is there are some apps, which has a shared component, and the component will be shared by many apps. So with such ap

[2021-05-25 00:21] christopherhein commented on #77
Yeah, to add to that…

Some other example of areas where I could see more of this is a centralized logging or metrics system so everyone didn't need to maintain their own.

All that being said there is a downside to this to consider, VC does a lot to help make the super cluster really lightweight and easily replaceable, the more you break that model the more VC get's harder and less flexible. For

[2021-05-25 00:21] gyliu513 commented on #77
@christopherhein , thanks, this is the feature that I want. If we can expose some CRDs only on super cluster, then how about extending this to support other k8s resources :)

[2021-05-25 00:24] christopherhein commented on #77
Yup, we do this as well. Some are just to create random actions for example because we don't have CAPI's ClusterResourceSet we use a "checker" within the confines as how the vc-syncer defines it to automatically make sure there is always X or Y admission webhook deployed into the tenant control plane.

[2021-05-25 00:25] christopherhein commented on #77
The struggle is you have to write a lot of those extensions yourself cause of how vc syncs things you need make sure it supports that flow, we package our syncer w/ vc-syncer as a single code base but extend it to have the other custom components.

[2021-05-25 00:28] gyliu513 opened #78 "Enable different kubernetes distribution support"
This is an issue migrate from https://github.com/kubernetes-sigs/multi-tenancy/issues/1479

The virtualcluster only support vanila Kubernetes now, but the real use case is that many customers are using some different Kubernetes distributions, it would be great to enable the virtualcluster can support OpenShift and other Kubernetes clusters which has passed the conformance test at https://github.co

[2021-05-25 00:35] christopherhein commented on #78
@gyliu513 There isn't anyone looking at this, this issue _COULD_ conflict with #44 if we end up in a KCP route it would be harder for you to implement this, that being said if you wanted to experiment with this idea you could like @Fei-Guo has said in that other issue use the `NestedAPIServer`, `NestedControllerManager`, NestedEtcd` to templatize and mount your manifests in the container where it

[2021-05-25 00:36] christopherhein commented on #78
/kind support

[2021-05-25 00:36] christopherhein commented on #77
/kind support

[2021-05-25 00:52] gyliu513 commented on #78
Awesome, thanks @christopherhein for the detailed explanation. So how about enabling those parameters as dynamic https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/controlplane/nested/controllers/consts.go#L23-L27 , so that we the customer can decide which k8s distribution they want to use?

[code]

[2021-05-25 01:35] christopherhein commented on #78
IMO maintaining multiple distributions is out of the scope for what CAPN should support. We should be enabling you to overwrite and implement your own but not providing those from CAPN. This will lead to unnecessary churn and releases of this codebase to vendor those spec.

[2021-05-25 02:07] gyliu513 commented on #78
@christopherhein +1, let me fork this repo and maintain by ourselves first, and we can check how to enable the upstream support in future.

[2021-05-25 02:34] charleszheng44 commented on #78
@gyliu513 Yes, I agree with @christopherhein. CAPN is still in the early stage, it can be hard to support multiple distros before the codebase becomes stable. But feel free to try out the OpenShift with CAPN and we would like to discuss any issues you run into.

[2021-05-25 02:43] gyliu513 commented on #78
Close it for now, we can re-visit this issue if any new requirement. Thanks @christopherhein and @charleszheng44 !

[2021-05-25 02:43] #78 closed

[2021-05-25 02:57] christopherhein commented on #78
Thank you, glad we're all on the same page. Also 🙏 if you fork and make changes that aren't distro-specific we'd love to the help and will gladly accept patches!

[2021-05-25 03:21] gyliu513 commented on #78
Sure thing, thanks @christopherhein

[2021-05-25 03:31] gyliu513 commented on #77
@christopherhein For VC, I think there is only one scheduler in super cluster, but no in tenant cluster. Can you share more detail for what do you mean by `experimental namespace two tier scheduler`?

[2021-05-25 05:32] Fei-Guo opened #79 "Test fails with race detected"
How to reproduce?

Sync to ToT and run `make`

[code]
it can be 100% reproduced in my local machine.

[2021-05-25 06:03] christopherhein commented on #79
gah! alright, I'll check this out more was hoping it wasn't going to crop up. From what I looked into it before it's not a run code problem it's a test setup problem between the two startup processes for the controllers conflicting. I will dig more into it tomorrow.

[2021-05-25 06:03] christopherhein commented on #79
/kind bug

[2021-05-25 06:37] Fei-Guo commented on #79
It is specific to the controller test suite code which was originated from old kubebuilder I believe. Other UTs were working fine.

[2021-05-25 09:06] sbueringer opened #80 "Fix golang-ci lint configuration exclude configuration"
The exclude configuration `Using the variable on range scope (tc)|(rt)|(tt)|(test)|(testcase)|(testCase) in function literal` in `.golang.ci.yml` matches too many findings.

Every finding which contains "rt", "tt", "test", .. is excluded.

For more context:
* [Fix PR in cluster-api](https://github.com/kubernetes-sigs/cluster-api/pull/4657)
* [Follow-up PR for migration doc](https://github.com/kube

[2021-05-25 15:11] christopherhein commented on #79
Yeah, it's about the addition of the context.Context in the controller code, this is one of the reasons that made breaking NCP and NC a good choice cause having separate controllers for and test suites often have conflicts.

[2021-05-25 16:21] christopherhein commented on #80
/good-first-issue
/help
/kind cleanup

[2021-05-25 16:22] christopherhein commented on #80
thanks @sbueringer for opening this.

[2021-05-25 17:28] christopherhein opened #81 "🌱 Integrate VC and CAPN"

[2021-05-25 17:41] christopherhein commented on #81
/milestone v0.1.x

[2021-06-02 00:37] christopherhein commented on #77
@gyliu513 do you feel like you've gotten the right information now and we can close this issue?

[2021-06-02 00:38] christopherhein commented on #59
/close

This work was done in #70

[2021-06-02 00:38] #59 closed

[2021-06-02 13:29] #77 closed

[2021-06-02 17:28] #79 closed

[2021-06-05 05:05] christopherhein opened #89 "🌱 Add Periodic Prow Test jobs"
Since we've seen a bit of instability in the test suite we should get Prow to run periodic scripts on a 4h interval like most other CAPI repos have.

[2021-06-05 05:05] christopherhein commented on #89
/kind flake

[2021-06-05 05:05] christopherhein commented on #89
/milestone v0.1.x

[2021-06-05 05:53] christopherhein commented on #60
I forgot I cleaned up the `Makefile` in the last PR adding Prow presubmits - https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/Makefile#L300-L351

[2021-06-05 06:27] christopherhein commented on #89
.close

[2021-06-05 06:28] christopherhein commented on #89
/close

[2021-06-05 06:28] #89 closed

[2021-06-08 05:27] #80 closed

[2021-06-08 16:39] christopherhein opened #91 "🐛 Post Submit Image Builds"
All Post Submit Image builds are failing because of the wrong GCP project being specified. We need to update the `Makefile` to point to the correct registry URL w/ project name.

[2021-06-08 16:49] #91 closed

[2021-06-08 17:26] christopherhein commented on #81
/assign @charleszheng44

[2021-06-08 18:42] christopherhein opened #94 "🐛 Incorrect Manifest Path for Releases"
Logs from Prow release Job.

[code]

[2021-06-08 18:50] #94 closed

[2021-06-08 19:01] christopherhein opened #96 "make release-alias-tag fails on prow image-pushing"
[code]

[2021-06-08 23:32] christopherhein opened #99 "🌱 Add Presubmit Runs for release-* branches"
Right now in #98 and other cherrypick branches we don't run the presubmit jobs and we should just to validate they aren't broken.

[2021-06-09 00:03] christopherhein opened #101 "🐛 Image Building has references to docker/infra"
Cloud Build Logs:

[code]

Need to remove https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/cloudbuild.yaml#L16-L25

[2021-06-09 00:11] #101 closed

[2021-06-09 09:29] jichenjc opened #105 "📖 Update docs/README.md with beta clusterctl setup"
follow this https://github.com/kubernetes-sigs/cluster-api-provider-nested/tree/main/docs (latest code)

and seems the control pane not startup correctly
[code]

any guide in fixing this? thanks

[2021-06-09 16:20] christopherhein commented on #105
Looks like somewhere the RBAC role aren't being generated properly anymore. I would check to see if the code still has the proper `// +kubebuilder` go comments on the `controlplane/nested/controllers/` directory. This should declare that a statefulset permission is needed.

[2021-06-09 16:20] christopherhein commented on #105
/kind bug

[2021-06-09 16:21] christopherhein commented on #105
/retitle 🐛 Permission Errors trying to create StatefulSet from NCP

[2021-06-09 16:22] christopherhein commented on #61
@Fei-Guo @charleszheng44 @weiling61 could you all for book keeping put `/lgtm` on this issue to track that we all agreed to do our first release.

[2021-06-09 16:24] weiling61 commented on #61
/lgtm

[2021-06-09 16:25] vincepri commented on #61
/lgtm

[2021-06-09 16:29] christopherhein opened #106 "🐛 Make release expecting to build binaries"
The original `Makefile` from CAPI expects to build `clusterctl` via `make release-binaries` and in CAPN we don't have these. We need to remove that from the `make release` target.

[code]

[2021-06-09 16:39] #106 closed

[2021-06-09 17:04] Fei-Guo commented on #61
/lgtm

[2021-06-09 17:26] christopherhein opened #109 "🐛 Make Release Docker Infra References"
[code]

Remove - https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/Makefile#L334-L335

[2021-06-09 17:26] christopherhein commented on #109
/kind bug

[2021-06-09 17:27] christopherhein commented on #109
Ref #61

[2021-06-09 20:43] christopherhein opened #112 "🐛 Control Plane Manifest not Updated On Release"
Missing https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/Makefile#L328-L331 lines for the control plane provider.

[2021-06-09 20:43] christopherhein commented on #112
/kind bug

[2021-06-09 21:13] #112 closed

[2021-06-09 21:35] christopherhein commented on #105
/assign

[2021-06-09 21:35] christopherhein commented on #105
It appears this happens because we don't have the serviceAccountName in the `Deployment` specs as I'm currently doing #61 and experiencing the same issue.

[2021-06-09 22:04] charleszheng44 commented on #61
/lgtm

[2021-06-09 22:43] christopherhein commented on #60
/close

[2021-06-09 22:43] #60 closed

[2021-06-09 22:44] christopherhein commented on #60
This was completed across many PRs and testing.

[2021-06-09 22:48] christopherhein opened #117 "Migrate Control Plane Image to include "cluster-api" in the name"
See https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/images/k8s-staging-cluster-api-nested/images.yaml for officially pushed images. The `nested-controlplane-controller` resource should be `cluster-api-nested-controlplane-controller`.

[2021-06-09 22:49] christopherhein commented on #117
/milestone next
/kind cleanup

[2021-06-10 01:47] christopherhein opened #118 "🐛 Fix make release-notes"
When I run `make release-notes` following https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/developer/releasing.md our `make` target errors with:

[code]

It appears this is just outdated and we should use CAPI's `Makefile` as an example: https://github.com/kubernetes-sigs/cluster-api/blob/master/Makefile#L191-L192

[2021-06-10 01:47] christopherhein commented on #118
/kind bug

[2021-06-10 01:48] christopherhein commented on #118
/help

[2021-06-10 02:00] christopherhein commented on #61
Our official first release! 🎉

https://github.com/kubernetes-sigs/cluster-api-provider-nested/releases/tag/v0.1.0

[2021-06-10 02:01] christopherhein commented on #61
/close

[2021-06-10 02:01] #61 closed

[2021-06-10 05:56] jichenjc commented on #105
/reopen

@christopherhein thanks for the PR, however, I updated and still get same issue , I am trying to

manually apply the rbac and got following
`"config/rbac/service_account.yaml": namespaces "system" not found`
which makes me curious seems there is no `system` ns defined at all?

[2021-06-10 06:02] christopherhein commented on #105
@jichenjc thanks for reopening. Use case wise if I changed this doc to be the published prod images instead of you needing to generate those images from scratch would that suffice for your use case or are you looking for developer docs?

[2021-06-10 06:32] jichenjc commented on #105
thanks for the detailed info , appreciate~
I will re-try based on your comments and get back here, thanks

[2021-06-10 07:11] christopherhein opened #119 "🐛 metadata.yaml references nonexistent version"
As of now `clusterctl` doesn't have a `v1alpha4` so this should reference `v1alpha3` I've already updated the `v0.1.0` release assets.

Xref: #54

/milestone v0.1.x
/kind bug

[2021-06-10 07:12] christopherhein commented on #119
/assign

[2021-06-10 07:46] christopherhein commented on #63
/retitle 🐛 Unable to create a VirtualCluster on k8 v1.20.2

[2021-06-10 07:47] christopherhein commented on #62
/retitle 🐛 ClusterVersion CRD gets rejected on k8 v1.20.2

[2021-06-10 08:03] christopherhein opened #121 "🌱 Add .github directory from CAPI"
We should bring over https://github.com/kubernetes-sigs/cluster-api/tree/master/.github/ISSUE_TEMPLATE and https://github.com/kubernetes-sigs/cluster-api/blob/master/.github/PULL_REQUEST_TEMPLATE.md so we can push for tagged PRs to make release notes easier to generate.

[2021-06-10 09:45] fenglixa commented on #118
/assign

[2021-06-10 10:50] fenglixa commented on #118
/remove-help

[2021-06-10 16:05] #118 closed

[2021-06-10 16:21] #119 closed

[2021-06-10 18:55] #99 closed

[2021-06-10 20:35] christopherhein commented on #54
/close

This was completed in the last linked CAPI PR https://github.com/kubernetes-sigs/cluster-api/pull/4792

[2021-06-10 20:35] #54 closed, assigned to nobody

[2021-06-10 20:58] christopherhein commented on #41
@gyliu513 Now that we have a CAPI integration setup would you like to try this and report if it works or not?

[2021-06-10 21:01] charleszheng44 commented on #81
/assign @christopherhein

[2021-06-10 23:54] christopherhein opened #124 "✨ Add cluster-template.yaml"
Right now with `clusterctl` we don't have the proper cluster templates in the release. We should add a cluster-template.yaml so that we can `clusterctl generate config cluster-sample` and it will create the manifests for CAPN.

/kind feature

[2021-06-10 23:55] christopherhein commented on #124
/milesone v0.1.x

[2021-06-11 00:06] christopherhein commented on #124
/assign

[2021-06-11 00:06] christopherhein commented on #124
For now I've manually added one to https://github.com/kubernetes-sigs/cluster-api-provider-nested/releases/tag/v0.1.0, I'll have a PR adding this to the repo soon.

[2021-06-11 02:24] vincent-pli opened #125 "🐛 Webhook caBundle issues for Virtual Cluster"
Not dig in too much to the code, but in my env, the `webhook` for `VirtualCluster` not work.
I get this when I try to create `VirtualCluster`:
[code]

Then i check the `ValidatingWebhookConfiguration` and there is no `caBundle` at all in `virtualcluster-validating-webhook-configuration`.

After I modify the `virtualcluster-validating-webhook-configuration` and set the `caBundle` with the cluster's

[2021-06-11 04:28] #121 closed

[2021-06-11 04:29] christopherhein commented on #125
/kind bug

[2021-06-11 04:29] christopherhein commented on #125
/assign @charleszheng44

[2021-06-11 04:36] charleszheng44 commented on #125
@vincent-pli are you using `openshift` or native kubernetes?

[2021-06-11 05:17] vincent-pli commented on #125
@charleszheng44
Native kubernetes, actually `kind`.

[2021-06-11 13:25] jichenjc commented on #105
Thanks for the info, will validate with more tries later on ,currently having following error and will retry after clean up env
[code]

[2021-06-11 16:16] christopherhein commented on #105
Since 0.4.0 isn't fully released try adding this file:

[code]

And then try using:

[code]

Also, this route still needs to be build off `main` for CAPI.

If that doesn't work check out https://cluster-api.sigs.k8s.io/clusterctl/developers.html to see if there are more steps missing. I was able to as long as I added the `v0.4.0` binaries to the `dev-repository/config`.

@vincepri potentially you

[2021-06-12 15:35] christopherhein commented on #105
/retitle 📖 Update docs/README.md with beta clusterctl setup

[2021-06-12 15:35] christopherhein commented on #105
/assign

[2021-06-12 15:55] christopherhein commented on #105
This should be much easier now:

[code]

[2021-06-12 15:57] christopherhein commented on #105
/help

[2021-06-12 15:58] christopherhein commented on #105
We're looking for someone to use the information from https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/105#issuecomment-860072112 to update `docs/README.md` so that the new quick start guide uses the current unreleased `clusterctl` and is more reliable.

[2021-06-14 01:40] gyliu513 commented on #41
@christopherhein Awesome! Any document that I can refer? Thanks!

[2021-06-14 03:23] jichenjc commented on #105
/assign

I am working on this ,will provide an update soon

[2021-06-14 03:39] jichenjc commented on #105
I can move to here already, so should be good now
[code]

[2021-06-14 16:49] #124 closed

[2021-06-15 12:52] christopherhein opened #128 "✨ Support Auto Reloading KUBECONFIGs from Secrets"
**User Story**

As a operator I would like the syncer to auto reload changes to `KUBECONFIG` secrets so that the syncer can stay up to date with PKI expiry w/o intervention.

**Detailed Description**

In the next version of VC w/ CAPN/CAPI Support control planes are being provisioned out of cluster and linked via two annotations, along w/ the old path for `native` provisioning would load the `KUBE

[2021-06-15 13:06] christopherhein opened #129 "✨ Support Staging Releases for VC code base"
**User Story**

As a user I would like to be able to use VC with CAPN from Prow based builds for so that I can use automated and "blessed" images.

**Detailed Description**

Right now CAPN is released every `main` branch merge plus, this is done using the `make release-staging` target, we should update these downstream targets to add CAPN into this.

**Anything else you would like to add:**

This

[2021-06-15 13:07] christopherhein commented on #129
/retitle ✨ [VC] Support Staging Releases for VC code base

[2021-06-15 13:10] christopherhein opened #130 "✨ [VC] Support Releasing Manifests & Tagging for VC code base"
**User Story**

As a user I would like to use blessed manifests for deploying VC for so that I can expect a stable release.

**Detailed Description**

Right now only CAPN is deployed/setup when `make release` is run, this work pairs after #129 to add full release support.

**Anything else you would like to add:**

Removing `ClusterVersion` from VC should be done prior to this work.

/kind feature

[2021-06-15 13:14] christopherhein opened #131 "⚠️ Remove ClusterVersion from vc-manager & native provisioner."
**User Story**

As a user I would like to reduce the overall components deployed for using CAPN w/ VC so I don't need to support deprecated provisioning routes.

**Detailed Description**

With the move to support CAPN, provisioning should be done outside of VC drawing a hard line between CAPN and VC, with this move we'll be able to get vc-manager and the `controller-gen` manifests back to being au

[2021-06-15 13:20] christopherhein opened #132 "⚠️ Remove aliyun provisioner from vc-manager"
**User Story**

As an operator I would like to separate provisioning from configuring VC to configure clusters so that I can individual manage components based on responsibility.

**Detailed Description**

With the move away from provisioning in VC and the addition of CAPI support #81 we should draw a harder line about the responsibilities of the `vc-manager`, instead of being responsible for prov

[2021-06-15 13:20] christopherhein commented on #117
/retitle 🐛 Migrate Control Plane Image to include "cluster-api" in the name

[2021-06-15 13:21] christopherhein commented on #117
/retitle 🌱 Migrate Control Plane Image to include "cluster-api" in the name

[2021-06-15 13:21] christopherhein commented on #125
/retitle 🐛 Webhook caBundle issues for Virtual Cluster

[2021-06-15 14:28] charleszheng44 commented on #125
@vincent-pli May I know which version of `kind` are you using?

[2021-06-15 17:45] christopherhein opened #133 "❓ Investigate v1alpha5 CAPI changes around EtcdProvider"
**User Story**

As a operator I would like to use an external etcd provider so that I can run more HA etcd clusters not stacked.

**Detailed Description**

We should evaluate what impact this will have with CAPN currently and what it might effect with regards to #44

**Anything else you would like to add:**

Xref: https://github.com/kubernetes-sigs/cluster-api/pull/4659

/kind feature
/milestone n

[2021-06-15 17:49] christopherhein opened #134 "❓ Investigate v1alpha5 changes around LoadBalancer Provider"
**User Story**

As a operator I would like to provision a load balancer for NestedClusters for so that I can get ingress to my cluster.

**Detailed Description**

There is changes upstream and we should evaluate what this will look like for CAPN.

**Anything else you would like to add:**

Xref: https://github.com/kubernetes-sigs/cluster-api/issues/1250

/kind feature
/milestone next

[2021-06-15 18:38] christopherhein opened #135 "🌱 Add TargetNamespace to cluster-template.yaml ControlPlaneEndpoint"
**User Story**

As an operator I would like to get a cluster which works for vc-syncer across namespaces, so that I can sync workloads with vc-syncer.

**Detailed Description**

Right now with CAPN it doesn't add the namespace to the `ControlPlaneEndpoint.Host` which works fine in-cluster in the same namespace but isn't a valid FQDN in the certs for cross namespace traffic, al la the vc-syncer. To

[2021-06-15 23:53] christopherhein commented on #41
@gyliu513 check out - https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/105#issuecomment-860072112 for a walkthrough, the README is still getting updated, check out https://cluster-api.sigs.k8s.io/tasks/experimental-features/cluster-resource-set.html for setting up CAPI with this deployed and the linked proposal for how it works.

[2021-06-16 00:11] vincent-pli commented on #125
Sure, so you can reproduce the problem I hit? @charleszheng44
[code]

[2021-06-16 20:52] christopherhein opened #137 "✨ Update CAPI VC Controller to Use a Cluster watch."
**User Story**

As an operator I would like to the CAPI Controller for VC to watch the Cluster resource for updates so I don't need to poll the Cluster resource for changes.

**Detailed Description**

Currently in #136 this used `ctrl.Result{RequeueAfter}` which is polling the cache for updates to the Cluster object, this should be done by triggering a change when the Cluster changes instead makin

[2021-06-16 21:30] charleszheng44 commented on #125
@vincent-pli sorry for the late reply. I run into the same issue when trying to set up VC on the Kind cluster, looks like the certificate assigned to the webhook does not work properly.

However, I can successfully set up the VC framework and create VC on Minikube, so this issue may be a Kind-specific issue.  I will try to find out the cause. But at the same time, could you try out Minikube or oth

[2021-06-17 01:28] #105 closed

[2021-06-17 06:55] vincent-pli commented on #125
That's weird, I check some code, here:
https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/2e2add9bba1ec0c5104df0f64ce3c560f625bef8/virtualcluster/pkg/webhook/virtualcluster/virtualcluster_webhook.go#L155-L162

we do not set `caBundle` when creating and neither update it after creation.
So there is no chance to add a `caBundle` to the `ValidatingWebhookConfiguration`

for miniKube,

[2021-06-17 14:05] charleszheng44 commented on #125
@vincent-pli This is intentional. If the caBundle is not specified, the system trusted CAs will be used. The details can be found in the [WebhookClientConfig](https://github.com/kubernetes/api/blob/508b64175e9264c2a4b42b1b81d2571bf036cf09/admissionregistration/v1beta1/types.go#L555)

[2021-06-17 17:36] christopherhein opened #141 "📖 Update docs/README.md with virtualcluster flavor"
**User Story**

As an operator I would like to use `clusterctl` to deploy a VC backed CAPN by following the quickstart so I don't need to have tribal knowledge.

**Detailed Description**

After #136 is merged and a release is cut we should make sure we update the readme to reflect deploying CAPN + VC as an option.

/kind documentation
/milestone v0.1.x

[2021-06-17 19:04] #81 closed

[2021-06-17 19:04] #135 closed

[2021-06-18 02:45] vincent-pli commented on #125
It's means if `caBundle` unspecified the system trust roots will be used to `validate` the webhook's certificate。

But the certificate from our webhook is signed by CSR API, the CSR API signed certificate is not a system trust root.

Please help to check if the `caBundle` field is injected in minikube env, thanks
@charleszheng44

[2021-06-18 17:13] charleszheng44 commented on #125
I think the system trust roots are root CA loaded by apiserver at the start time and the CA used to sign the CSR is one of them. Please correct me if I am wrong.

[2021-06-18 18:10] charleszheng44 commented on #125
Please correct me if I am wrong. My understanding is the `WebhookClientConfig` here is used by APIServer to set up a connection between itself and the webhook. When talking to the webhook, the APIServer will act as a client and the `caBundle` is used to authenticate the response sent back from the webhook.  The `system trust roots on APIServer` are the CAs loaded by APIServer during the start time

[2021-06-19 12:56] vincent-pli commented on #125
Thanks @charleszheng44
I think all your presentation are correct except one thing:

I'm not expert in this area, but I guess the `system trust` maybe means `Operator system trust`, I mean for ubuntu these CA is local in path: `/usr/local/share/ca-certificates/` and I notice pod of `kube-apiserver` mount the path as `hostpath` volume from the node.

I want to say again, I'm not expert but I'm happy

[2021-06-19 13:05] vincent-pli opened #143 "Confuse with capi provisioner's manifest file"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I'm little, seems we try to add `capi provisioner` and remove `native` and `aliyun`.

But I found we change some field in the original manifest file, for example:
- Change `pullpolicy` to `Never`

https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/ce11f3e9a73dbf2d691a4d06c

[2021-06-19 18:15] charleszheng44 commented on #125
@vincent-pli Thanks for pointing me to the OpenShift issue. Looks like the CA used to sign the CSR is not one of the system rust roots (my fault 😅).

There are two options to resolve this issue, we can either leverage external components, like cert-manager, or run the webhook server pod with an init-container that generates a self-signing certificate and store the CA to the `caBundle` of the `Webh

[2021-06-20 11:34] vincent-pli commented on #125
Thanks @charleszheng44
Expect to see your implements : )

[2021-06-21 07:50] dongwangdw commented on #141
/assign

[2021-06-21 16:15] christopherhein commented on #141
hey @dongwangdw we probably need to make sure we have #129 and #130 done for this to be done properly just an FYI as this might be on hold.

[2021-06-21 16:16] christopherhein commented on #143
These changes need to migrated to support the CAPI style deployment manifest generation as we have in the base repo. This work is being tracked under #129 .

[2021-06-22 13:03] dongwangdw commented on #141
@christopherhein
OK. Thanks for the info. It seems there are couples of items should be achived before this one.
I will have my eye on this.

[2021-06-24 06:30] dongwangdw commented on #129
@christopherhein
Want to confirm with you that: the target here is to:
[code]

Because you said: ```this will be handled in the make release changes.```
But what if there is no release at the time when the code changes happened in virutalcluster?
Should we also handle this for staging release?

And btw, I did not find any steps for prod images pushing.
The release tag just updates the manifests. D

[2021-06-24 15:29] christopherhein commented on #129
The target of this issue is to handle the staging releases similar to what we have in `capn/Makefile` under the target `make staging-release` but integrated to work against VC code base, this will make it so that every merge into `main` will get a sha based release that we can then verify with. For the prod releases it's actually not automated via prow, what we do is follow the guide https://githu

[2021-06-24 16:37] #125 closed

[2021-06-28 08:28] gyliu513 opened #146 "clusterctl init failed"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I was trying to test https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/41 , but failed to set up the control plane.

[code]
[code]
[code]

/cc @christopherhein

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that

[2021-06-28 20:52] christopherhein commented on #146
@gyliu513 interesting, it appears that this should work, in your error message it says you have `bad credentials`.

[code]

Can you view: https://api.github.com/repos/kubernetes-sigs/cluster-api/releases/tags/v0.4.0-beta.0 in the browser?

[2021-06-29 01:01] jichenjc commented on #146
I recompiled latest clusterctl and it works fine
so @gyliu513 I guess you might want to check whether your cred has some problem?

[code]

[2021-06-29 02:45] christopherhein commented on #146
@jichenjc @gyliu513 think this can be closed now that #147 is closed?

[2021-06-29 03:19] gyliu513 commented on #146
Works now, thanks @jichenjc and @christopherhein !

[2021-06-29 03:19] #146 closed

[2021-06-29 17:52] christopherhein commented on #141
Update to use released binary - `curl -L https://github.com/kubernetes-sigs/cluster-api/releases/download/v0.4.0/clusterctl-linux-amd64 -o clusterctl`

[2021-06-29 17:52] christopherhein commented on #143
/close

[2021-06-29 17:52] #143 closed

[2021-06-29 17:53] christopherhein commented on #132
/hold

[2021-06-30 09:17] vincent-pli opened #150 "Get "Unauthorized" in tenant's kube-controller-manager"
**What steps did you take and what happened:**
I have no idea if it's my mistake but Just follow the [guide](https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md)

Only different is I do not use
`$ kubectl vc create -f https://raw.githubusercontent.com/kubernetes-sigs/cluster-api-provider-nested/master/virtualcluster/config/sampleswithspec/virtualclus

[2021-07-01 01:12] #150 closed

[2021-07-02 09:16] vincent-pli opened #154 "The syncer report different pod.status regular"
**What steps did you take and what happened:**
Created `deploy` in tenant cluster and `pod` works as expected, but get message regular(5min) in `syncer`'s log:
[code]

Do some research, seems:
1. The `nodelifecycle` controller of `kube-manager-controller` in tenant cluster can not contact the virtual node, then set the status of node as `NotReady`, then add taint to the node and `eviction manager`

[2021-07-02 09:17] vincent-pli commented on #154
@Fei-Guo @christopherhein @charleszheng44

[2021-07-02 10:39] wangjsty opened #155 "ClusterResourceSet feature does not work"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Follow the proposal guides:
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200220-cluster-resource-set.md
https://cluster-api.sigs.k8s.io/tasks/experimental-features/experimental-features.html?highlight=ClusterResourceSet#enabling-experimental-features-on-exis

[2021-07-02 11:05] wangjsty opened #156 "The pod is always pending in the nested cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Follow the guide:
https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/docs/README.md
1. Deploy a nested cluster in Kind
2. After nested cluster ready, deploy memcached service

The memcached pod is always pending, but the same deployment can work on real kubernetes en

[2021-07-02 12:35] wangjsty commented on #155
@Fei-Guo @christopherhein @charleszheng44 @gyliu513

[2021-07-02 12:36] wangjsty commented on #156
@Fei-Guo @christopherhein @charleszheng44 @gyliu513

[2021-07-02 15:11] christopherhein commented on #156
Hey @wangjsty this is expected right now, we haven't finished the integration updates to immediately support CAPN + VC, the doc updates should be mostly called out in #141. Which is blocked on updating VC to support the way we're releasing images and manifests w/ CAPN/Prow.

[2021-07-02 16:29] christopherhein commented on #155
@wangjsty can you add this information to #41 ?

[2021-07-02 16:29] christopherhein commented on #155
/close
duplicate issue for tracking CRS.

[2021-07-02 16:29] #155 closed

[2021-07-02 17:21] Fei-Guo commented on #154
This is known issue and mentioned in the project README.

"The syncer controller manages the lifecycle of the node objects in tenant control plane but it does not update the node lease objects in order to reduce network traffic. As a result, it is recommended to increase the tenant control plane node controller --node-monitor-grace-period parameter to a larger value ( >60 seconds, done in the samp

[2021-07-02 17:31] Fei-Guo commented on #156
Yes. At this moment, for VC demo, you can try the following demo which use the old clusterversion CR unless your purpose is to try CAPN specifically,
https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md

[2021-07-02 23:55] vincent-pli commented on #154
@Fei-Guo  Actually I follow the [demo document](https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md)

But my `node-monitor-grace-period` is 200s:
[code]

[2021-07-03 00:53] Fei-Guo commented on #154
Can you double check if the vNode in the tenant controller get heart-beat updated every minute? If not, the syncer has problem. If the heart beat is updated, maybe 1.20 changed the node lifecycle controller behavior.  My testbed is still 1.18 and I will take a look at 1.20.

We don't need nodelifecycle controller, we just don't have a simple way to disable it. One hacky way is to delete the `node-

[2021-07-03 01:32] vincent-pli commented on #154
I think the `syncer` works, since the `NotReady` will be correct to `Ready` after a while, I think it's because `syncer` do its job.
To disable the `nodelifecycle`, a little confuse, why not use the config like this:
`--controllers=*,-nodelifecycle`

and I'm not sure how to check the heart-beat, in the log of `kube-controller-manager` in the tenant cluster?
@Fei-Guo

[2021-07-03 05:35] Fei-Guo commented on #154
Good call. We can try "--controllers=*,-nodelifecycle"

vNode status should have the heart beat information.

[code]

[2021-07-03 06:57] vincent-pli commented on #154
Thanks @Fei-Guo
The heart-beat is good:
[code]

[2021-07-04 14:26] wangjsty commented on #156
@christopherhein @Fei-Guo Thank you, I will try the VC demo first, before the CAPN VC integration done.

[2021-07-04 14:29] wangjsty commented on #155
@christopherhein I would like to track the issue by the duplicated one #41. Thanks!

[2021-07-05 03:40] #154 closed

[2021-07-05 15:58] wangjsty commented on #156
@christopherhein @Fei-Guo Could you please answer some questions for understanding. Thanks in advanced.
1. Currently, the nested cluster that created by CAPN without VC can't be used to deploy workloads(deployment/statefulset) before CAPN+VC integration, is it right?
2. Looks like it's okay to deploy workloads on VC without CAPN, what's the user scenario of CAPN? Or it could just be used as a comm

[2021-07-05 20:09] Fei-Guo commented on #156
1) Yes
2) CAPN is the replacement for the original ClusterVersion CR/controller in VC. It follows CAPI standard and has much better manageability for tenant control plane Pods.

[2021-07-05 20:13] christopherhein commented on #156
To add a little more color to #1 you could technically use this and run a set of data plane nodes w/ VMs or anything else and just use pod based control planes but you'd likely need to do some customizing as well, ie as of today that isn't supported.

[2021-07-06 01:30] wangjsty commented on #156
@Fei-Guo @christopherhein Thank you for your explanation !

[2021-07-06 02:32] vincent-pli opened #159 "Keep reporting spec different for SVC in syncer's log"
**What steps did you take and what happened:**
There are tons of warning in log of `syncer`, said:
[code]

The problem is related to the kubernetes version,
The tenant cluster version is:
[code]
and the version in super cluster is:
[code]

In version: v1.20, the kubernetes do enhancement for [SVC](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#api-change-3):
[code

[2021-07-06 08:27] gyliu513 commented on #78
@wangjsty ^^

[2021-07-08 02:52] vincent-pli opened #162 "The informer of tenant cluster do not ternimal after the tenant cluster was deleted"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
After the `virtualCluster` removed, we do not terminal the `informer`s for the tenant cluster, so get tons of such error message in the `cyncer`'s log:
[code]

/kind bug

[2021-07-08 05:12] #159 closed

[2021-07-08 06:06] #162 closed

[2021-07-08 08:46] jinsongo opened #164 "Access https://kubernetes:443 timeout in OLM operators on virtual cluster on OpenShift"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. Reference https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md to install virtual cluster on OpenShift 4.7.13, but using the following workaround for some security constraints problems:

    Follows as example:
[code]

    Workarounds:
[cod

[2021-07-08 08:53] wangjsty commented on #164
@Fei-Guo @christopherhein @gyliu513 @vincent-pli

[2021-07-08 16:51] Fei-Guo commented on #164
We should sync the kubernetes ep from virtual cluster to super cluster. Based on the dws code for ep, we only filter ep
if the service has selector. The kubernetes service does not have selector so the ep should be synced.
[code]

Can you double check why the ep is not synced from virtualcluster to super cluster?

[2021-07-09 01:58] vincent-pli commented on #164
@wangjsty
Upper comment is right, could you check the log of `syncer` see if there is some exception there.

To @Fei-Guo , seems we change the `/etc/hosts` in the container to let `https://kubernetes:443` to point to the tenant's SVC "kubernetes" in super cluster, how do we do this? thanks.

[2021-07-09 03:05] Fei-Guo commented on #164
@vincent-pli   Here
https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/6e8b8db5f596623fb5d7112cbd2bf0845ca27d3e/virtualcluster/pkg/syncer/conversion/mutate.go#L117

[2021-07-09 04:20] wangjsty commented on #164
@Fei-Guo, No endpoint created, that's why I manually created one as workaround.
# kubectl get ep -n default-3fbd77-vc-sample-1-default
No resources found in default-3fbd77-vc-sample-1-default namespace

[2021-07-09 05:20] Fei-Guo commented on #164
@wangjsty You can try to update the EP in vc, e.g., adding a dummy label and see if it is created in super and by the mean time, check the syncer log for any errors.

[2021-07-09 06:11] wangjsty commented on #164
@Fei-Guo @vincent-pli
I reproduce the problem again, and here are some logs for syncer:
[code]

[2021-07-09 06:52] wangjsty commented on #164
@vincent-pli  @Fei-Guo
I will use `oc adm policy add-scc-to-user privileged -z vc-syncer -n vc-manager` as workaround, then try again. currently, I'm just use "anyuid" here, that could not be enough for vc-syncer

[2021-07-09 09:03] vincent-pli opened #165 "Update the image on docker hub"
**User Story**
Could we update the image on docker hub, since we has address some issue recently:
I saw the last update is 15 days ago:
https://hub.docker.com/r/virtualcluster/syncer-amd64/tags?page=1&ordering=last_updated

/kind feature

[2021-07-11 14:28] christopherhein commented on #165
@Fei-Guo @charleszheng44 do you know who owns that image?

[2021-07-11 14:45] wangjsty opened #166 "OLM need work on aggregation API but it's disabled by Virtual Cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

OLM needs to work on Aggregation API for extension apiserver `packageserver`, but it's disabled by Virtual Cluster.
Please enable the aggregation layer via the following kube-apiserver flags, follows a example:
[code]

Otherwise，
[code]
Please reference more from: https://kubernetes.io/do

[2021-07-11 14:46] wangjsty commented on #166
@Fei-Guo @christopherhein @gyliu513 @vincent-pli

[2021-07-11 15:00] wangjsty commented on #164
@vincent-pli @Fei-Guo
I tried, but `oc adm policy add-scc-to-user privileged -z vc-syncer -n vc-manager` could not help.

[2021-07-11 20:06] charleszheng44 commented on #165
@christopherhein I created the registry. @vincent-pli will update the images.

[2021-07-11 22:27] charleszheng44 commented on #165
/assign

[2021-07-11 22:29] charleszheng44 commented on #165
@vincent-pli pushed.

[2021-07-11 23:59] vincent-pli commented on #165
Thanks @charleszheng44

[2021-07-11 23:59] #165 closed

[2021-07-12 01:36] vincent-pli commented on #164
Seems it's not problem of permission, OCP set some restriction when user try to create `ep` manually:
https://github.com/openshift/kubernetes/blob/90622d8244d0124fe2d44c336e68d4a4f03da1b6/openshift-kube-apiserver/admission/network/restrictedendpoints/endpoint_admission.go#L113-L128

and this:
[code]
https://github.com/openshift/cluster-kube-apiserver-operator/blob/master/README.md

@wangjsty

[2021-07-12 03:37] Fei-Guo commented on #166
I don't have objection to add this to the default apiserver template if it has no side effect for normal usage. @christopherhein What do you think?

[2021-07-12 06:35] jichenjc opened #168 "why ask run docker container in VC doc?"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md

[code]

ask me to run this command but seems without those steps  I still can access cluster by using previous generated vc-1.kubeconfig file , so what'

[2021-07-12 06:46] jichenjc opened #169 "how to re-create vc1-kubeconfig file ?"
**User Story**

I was guide
`kubectl vc create -f https://raw.githubusercontent.com/kubernetes-sigs/cluster-api-provider-nested/master/virtualcluster/config/sampleswithspec/virtualcluster_1_nodeport.yaml -o vc-1.kubeconfig`

to create vc-1.kubeconfig file , for whatever reason , the file is deleted, how can I recreate it from existing cluster? seems at least a doc is helpful here if the feature is

[2021-07-12 06:58] jichenjc opened #170 "log format inconsistent between components"
[code]

[code]

**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-07-12 06:58] jichenjc commented on #170
/assign

[2021-07-12 08:29] jichenjc opened #171 "logs of `lookup apiserver-svc.default-e7347a-vc-sample-1 failure'"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

follow the VC doc step by step, every pod running well

[code]

a lot of such errors in the log
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider

[2021-07-12 08:41] vincent-pli commented on #171
The issue has been fix by #163
please use the latest image @jichenjc

[2021-07-12 08:44] jichenjc commented on #170
not a big deal ,but to be consistent seems better

[2021-07-12 09:30] wangjsty commented on #166
@Fei-Guo @christopherhein Aggregation API is the feature of standard Kubernetes for extending Kubernetes: https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/

[2021-07-12 09:40] jichenjc commented on #171
thanks for point me out , I am using a latest minikube and pull from docker hub today
how should I get latest one? Thanks

[2021-07-12 19:32] christopherhein commented on #169
The only way I know to do this currently is to look at the secrets in the control plane namespace and grab the `admin-kubeconfig` this then needs to be updated slightly to change the cluster.server and typically we disable insecure tls verify. With the move to CAPN this would be done w/ `clusterctl`.

[2021-07-12 19:35] christopherhein commented on #168
For macOS and Windows machines Kind networking isn't properly setup for you to expose the clusters endpoint to the local host, (they both run the kind cluster in a nested virtual machine) for linux machines this shouldn't be necessary. If you look at the CAPN docs we get around this by asking you to `kubectl port-forward`. Which is inessence doing the same thing but it uses a docker image running

[2021-07-13 02:44] jichenjc commented on #168
ok, I missed this line
[code]

so I will re-structure the doc to make it clearer

[2021-07-13 02:59] jichenjc commented on #169
I guess `kubectl vc` is something we can consider ? anyway, will dig more here

[2021-07-13 04:14] jichenjc commented on #169
I figured out :)

use following command will help us in generating such kubeconfig file :), will update doc
[code]

[2021-07-13 05:00] vincent-pli commented on #171
it's weird, these issues should be addressed in the latest image, see #165
@jichenjc

[2021-07-13 19:48] #168 closed

[2021-07-14 03:51] jichenjc commented on #171
@vincent-pli thanks for pointing me out, I found the image is 2 weeks ago so I reload the image and the issue seems gone now

[2021-07-14 03:51] #171 closed

[2021-07-14 04:22] #169 closed

[2021-07-14 13:57] wangjsty opened #176 "The manually created storageclass is deleted by virtual cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I created a most simple storage class in virtual cluster by the following yaml:
[code]
[code]
After about 1 minute
[code]

**What did you expect to happen:**
The storage is available there.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving th

[2021-07-14 14:00] wangjsty commented on #176
@Fei-Guo @christopherhein @gyliu513
If it does work as design, we need document that, otherwise we need a fix.

[2021-07-14 14:08] #166 closed

[2021-07-14 14:09] gyliu513 commented on #176
This is also a question from me, I think the tenant cluster should able to host its own cluster scope resources, like CRD, storageclass etc. We do check log from syncer, but seems no log can help.

[2021-07-14 14:14] christopherhein commented on #176
Yes and no, this is one of the areas where the tenant can't own the resource, for a storage class to work it needs to be enabled at the super cluster level so that the kubelet can properly use the backing CSI driver, thus we enforce that storage classes are a super cluster level construct and you can share them from super -> tenant by using the `tenancy.x-k8s.io/super.public: true` label, this is

[2021-07-14 14:49] #176 closed

[2021-07-15 01:24] jichenjc opened #177 "Warning: spec of service default-316569-vc-sample-2-default/kubernetes diff in super&tenant master"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

looks like every min we got one such warning which is annoying and confusing

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-nested version:
-

[2021-07-15 01:24] jichenjc commented on #177
/assign

[2021-07-15 01:45] jichenjc commented on #177
looks like we are expecting deep equal here

https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/pkg/syncer/conversion/equality.go

but my test shows

[code]

so might need consider why following and how to handle

  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack

[2021-07-15 03:44] #177 closed

[2021-07-15 10:25] gyliu513 opened #181 "Update quickstart to enable using DEV Build"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

The current quickstart guide is using 0.1.0 release at https://github.com/kubernetes-sigs/cluster-api-provider-nested/tree/main/docs#init-control-plane-infrastructure-etc , but for developers, it would be great if there are some steps to customize, like enabling DEV build, turn on/off som

[2021-07-15 16:58] charleszheng44 commented on #181
@gyliu513 Yes, I agree, a DEV build option would be good. But we are using `clusterctl` now, which will fetch prebuilt release image. If developers wanna to use a customized image, it usually includes the following steps
1. build the ncp image locally
2. use `kind load docker-image` to load the local-built image to the kind cluster
3. change the `clusterctl config` to use the local-built image.

I

[2021-07-15 17:00] christopherhein commented on #181
Agree, maybe we can make a `docs/dev-quickstart.md` we used to have that in the `docs/README.md` if you check thee history on https://github.com/kubernetes-sigs/cluster-api-provider-nested/commits/main/docs/README.md the first couple commits before we brought in `clusterctl` you should be able to copy the steps from there.

[2021-07-16 00:28] gyliu513 commented on #181
Thanks @charleszheng44 @christopherhein , +1 for a new doc, let me create a new one for dev.

/assign

[2021-07-16 07:08] gyliu513 opened #182 "Enable Tenant Cluster Version can be configured"
**User Story**

As a cluster admin, I want to set up tenant cluster with different versions. But now, the tenant cluster version was hard-code to v1.16.2.

@christopherhein @Fei-Guo comments?

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind fe

[2021-07-16 07:08] gyliu513 commented on #182
@wangjsty ^^

[2021-07-19 02:09] jichenjc opened #183 "log v5 doesn't print desired log of vn-agent"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

[code]
[code]

looks like v5 log doesn't work for detailed log

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-nested version:
- Minikube/KIND version

[2021-07-19 02:10] jichenjc commented on #183
/assign

[2021-07-19 02:14] jichenjc opened #184 "Not allow edit virtualcluster for some field"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

[code]

success

expected: it should fail, we should consider only allow desired field to be updated and block others ..

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cl

[2021-07-19 02:14] jichenjc commented on #184
any thoughts on this? @christopherhein @Fei-Guo comments?

[2021-07-19 02:15] jichenjc commented on #184
/assign

[2021-07-19 05:45] Fei-Guo commented on #184
Yes. In current version, we don't consider vc upgrade through changing the cluster version name and we should add webhook to make this field immutable. We defer the upgrade story for cluster version based provisioning because we will design update worklflow based on CAPN in next step.

[2021-07-20 08:13] gyliu513 opened #185 "🐛 tenant cluster api server crash with nest controller"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

@wangjsty ^^

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-nested version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl vers

[2021-07-20 16:13] #181 closed

[2021-07-21 01:31] gyliu513 opened #189 "Bump Cluster API to 0.4.0"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

There are lot of bug fix and break changes in Cluster API 0.4.0, and it also fixed some critical bugs for security as well, such as https://github.com/kubernetes-sigs/cluster-api/pull/3979 etc.

@christopherhein @Fei-Guo @charleszheng44 comments?

@wangjsty ^^

/kind fea

[2021-07-21 05:00] christopherhein commented on #189
Sound great!

[2021-07-21 05:39] charleszheng44 commented on #189
Sounds good to me!

[2021-07-21 09:52] jichenjc opened #190 "api server failed to start"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

follow https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/docs/dev-quickstart.md

encounter
[code]

the root cause is /etc/kubernetes/pki/root/tls.crt is not defined in volume and then it's not able to find the crt file to start the container,

I removed this line in

[2021-07-21 09:53] jichenjc commented on #190
I can submit a PR to add a secret and mount if it's something missing from previous change?
or I encoutner env issue?

[2021-07-21 14:18] #185 closed

[2021-07-21 17:26] #189 closed

[2021-07-22 05:26] wangjsty commented on #190
@jichenjc  Please try the latest code from main branch.

[2021-07-22 05:58] jichenjc commented on #190
thanks, I guess it's merged after I opened latest code, will try and close this if it works

[2021-07-22 06:10] #190 closed

[2021-07-25 13:59] vincent-pli opened #195 "Leverage Knative to reduce the footprint of the control plane of tenant"
Just a very draft though, have no idea if there is any block issue for it.
I saw there is one further work in the [PDF](https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/vc-icdcs.pdf), it said we should
`Reducing the cost of running tenant control planes`

So I think could we leverage `knative` to do it, especially for the idle tenant?

@Fei-Guo @charleszh

[2021-07-25 22:51] Fei-Guo commented on #195
Can you provide more description about your idea? I don't immediate see how knative can help here.

[2021-07-26 03:01] gyliu513 commented on #195
@Fei-Guo I think @vincent-pli is mentioning the case here https://medium.com/ibm-cloud/using-serverless-model-to-reduce-footprint-for-your-kubernetes-openshift-platform-d06bfbeb65f2 , want to leverage knative to scale some pods to 0 if they are idle.

[2021-07-26 03:14] Fei-Guo commented on #195
CAPN components are tricky here. We probably always need a set to be ready even if it is idle because we usually cannot tolerate the cost of restart a whole control plane in terms of latency. In the paper, I was thinking about more on system solution such as enabling host memory swap to allow overcommiting the resources of the host that runs CAPN components. The idea is that multiple VCs may not b

[2021-07-26 05:51] vincent-pli commented on #195
Yes, my though is we can wrapper at least `api-server` of tenant to be a `KSVC`, then it will scale to 0 when idle.
but if we can not tolerate the code start I think it will not be a choice.
@Fei-Guo @gyliu513

[2021-07-26 17:37] christopherhein commented on #195
Yeah, cold starts of a Kube APIServer are likely too costly with informer cache priming for all objects, I'm imagining a tenant control plane running 1000's of resources having to start up, fetch the state of the world from etcd and then being able to serve the request would be too much. Interesting idea though and I wonder if there are other use cases that would fit that bill.

[2021-07-27 02:42] charleszheng44 commented on #195
I agree with @christopherhein. The major concern is latency, for a large cluster, it may take 10 - 20 secs to sync the cache. But if each tenant only create a few resources, then it would be a good idea to scale down the `apiserver` or even `controller-manager` to 0

[2021-07-27 10:04] D1abloRUS opened #197 "Nested cluster not creating"
**What steps did you take and what happened:**
Hi! I followed this instruction:
https://github.com/kubernetes-sigs/cluster-api-provider-nested/tree/main/docs
but nested cluster not creating

logs
capi-kubeadm-bootstrap-controller-manager:
[code]

capi-controller-manager:
[code]

 capn-nested-control-plane-controller-manager:
[code]

capn-controller-manager:
[code]

cluster-sample:
[code]

**What d

[2021-07-27 18:12] christopherhein commented on #197
@D1abloRUS can you run `kubectl get pods` in the namespace where the Cluster CR is created, I can't seem to see anything in the logs that would show what's going on. This looks like the pods for the control plane aren't going healthy. Once you list pods you will probably see a failing pod, if you could log that and paste those that would be helpful.

[2021-07-27 22:38] christopherhein commented on #195
@vincent-pli if this all makes sense can we close this?

[2021-07-27 22:39] christopherhein commented on #184
/close

Closing since this PR was implemented and merged.

[2021-07-27 22:39] #184 closed

[2021-07-27 22:39] christopherhein commented on #183
Have you found more information about what is going on here?

[2021-07-27 22:40] christopherhein commented on #170
Definitely agree, consistency would be great!

[2021-07-27 23:35] vincent-pli commented on #195
Sure, thanks everyone

[2021-07-27 23:35] #195 closed

[2021-07-28 03:52] sriram-kannan-infoblox opened #198 "VirtualCluster fail to create with "cannot find sts/apiserver in ns" on minikube running k8s 1.20.2"
The VirtualCluster fail to create the apiserver and the apiserver-0 is in the container creating state
`kubectl-vc create -f virtualcluster_1_nodeport.yaml -o vc.kubeconfig`
`2021/07/28 08:20:03 etcd is ready`
`cannot find sts/apiserver in ns default-e4d075-vc-sample-1: default-e4d075-vc-sample-1/apiserver is not ready in 120 seconds`

`kubectl get po -n default-e4d075-vc-sample-1`
`NAME

[2021-07-28 04:13] jichenjc commented on #198
what's the reason for this creating status? I ecountered this before due to docker pull limit
but seems you are not, how about check the reason for why container creating in 46 min?
e.g describe the container for additional info?

[2021-07-28 04:13] jichenjc commented on #183
not sure what happened , still checking

[2021-07-28 06:38] sriram-kannan-infoblox commented on #198
Good point, i checked the pod and the  failure is due to
`  Warning  FailedMount  5m43s (x50 over 91m)  kubelet, minikube  MountVolume.SetUp failed for volume "front-proxy-ca" : secret "front-proxy-ca" not found`
  `Warning  FailedMount  33s (x12 over 86m)    kubelet, minikube  Unable to attach or mount volumes: unmounted volumes=[front-proxy-ca], unattached volumes=[apiserver-ca front-proxy-ca ro

[2021-07-28 07:59] D1abloRUS commented on #197
@christopherhein

[code]

[code]

[code]

No resource is created for the nested control plane

[2021-07-28 09:20] jichenjc commented on #198
ok, looks like the ca has issue and to my limited knowledge those ca are created by CAPN directly
@christopherhein any insight for further trouble shooting on this?

[2021-07-28 10:55] sriram-kannan-infoblox commented on #198
Looks to me like Minikube doesn't create the certificates in the /etc/kubernetes/pki, unlike kubeadm.  Do we need frontend-proxy for the virtualcluster to work?

[2021-07-28 15:37] christopherhein commented on #197
Can you check statefulsets? also events?

[2021-07-28 16:18] D1abloRUS commented on #197
[code]

events empty

[2021-07-29 01:26] jichenjc commented on #183
just notice vn-agent-xxx does not exist in capn created env :(
so @christopherhein do you think it's still worthy to fix those issue given capn is future ?

[2021-07-29 02:56] jichenjc opened #199 "cluster always be Provisioned instead of running state"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
follow the guide of CAPN,  ,everything is fine except cluster is provisioned instead of running
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/images/bootstrap-controller.png

[code]

**Anything else you would like to add:**
[Mi

[2021-07-29 02:56] jichenjc commented on #199
/assign

[2021-07-29 15:32] christopherhein commented on #183
Yes, cause in the capn future there is two paths, CAPN w/ VC and CAPN without. CAPN w/ VC is likely going to be most folks way of deploying the architecture.

[2021-07-30 00:16] christopherhein commented on #199
I think this might be because we're not watching instead polling check out - #137

[2021-07-30 00:51] jichenjc commented on #183
ok, thanks for the info~

[2021-07-30 01:21] jichenjc commented on #199
this is a wrong report

I read the wrong picture and only machine has Running phase while cluster doesn't
https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha4/cluster_phase_types.go

[2021-07-30 01:21] #199 closed

[2021-07-30 08:21] gyliu513 commented on #198
@sriram-kannan-infoblox this was introduced in https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/167 , can you make sure you are using latest code and build all of the images/binaries from the latest code?

[2021-07-30 08:27] gyliu513 commented on #197
Seems the controller failed to create the statefulset for tenant cluster, not sure when this case will happen, like in which case we will get `the owner has not been set yet, will retry later` error? @christopherhein

[code]

[2021-08-02 08:12] jichenjc opened #201 "/component-templates/nested-controllermanager/nested-controllermanager-statefulset-template.yaml: permission denied"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I am testing my PR and I got following issue
then I switch to `main` branch with a new git clone and still have same issue , not sure what happened by using https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/docs/dev-quickstart.md

[code]

**What did you expect to ha

[2021-08-03 01:55] jichenjc commented on #201
Dockerfile updated to

[code]

can solve the problem, not sure why suddenly it start to have issue

[2021-08-03 02:32] jichenjc commented on #201
[code]

seems copy the folder doesn't set the permission in my env

[2021-08-04 03:07] jichenjc commented on #201
I tried to give `r` to the folder we copied but faced
gcr.io/distroless/static:nonroot doesn't have chmod utlity issue ..

[2021-08-04 10:24] sriram-kannan-infoblox commented on #198
Hi @gyliu513,  I am only following the steps as per the walkthrough demo below and haven't tried to build the image at all.
https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md

My query was do we need the aggregate API for virtual cluster to work? I can go back few commits and try out virtual cluster in minikube if aggregate API change is not a break

[2021-08-04 13:02] gyliu513 commented on #198
@sriram-kannan-infoblox as a workaround, please remove the aggregate api support, check https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/167/files for how to remove, you only need to update the statefulset for apiserver.

The https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md need some update, as it is not using the latest image.

[2021-08-05 03:34] jichenjc commented on #201
I used gcr.io/distroless/static:debug as base image (instaend of nonroot)
and found
/ $ ls -lh component-templates/
total 12K
drwx------    2 root     root        4.0K Aug  4 01:43 nested-apiserver
drwx------    2 root     root        4.0K Aug  4 01:43 nested-controllermanager
drwx------    2 root     root        4.0K Aug  4 01:43 nested-etcd

[2021-08-05 09:00] krasimirdermendzhiev opened #203 "Etcd is not created"
Hello, folks

I have problem with etcd when try to create tenant master. I'm following this file https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md

I try on kubernetes cluster version 1.19.12

`kubectl get ns`
[code]
`kubectl get all -n vc-manager`
[code]
`kubectl get clusterversion`
[code]

`kubectl get VirtualCluster`
[code]
I decided to deploy d

[2021-08-05 22:27] #137 closed

[2021-08-06 02:08] jichenjc commented on #201
it turn out if we copy the files to / , then it become own by root and 600 mode so 65532 user (nonroot user) not able to access the folder, not sure what happened though..

so I think better to copy files to /home/nonroot so that contianer run with 65532 ID should be able to see /home/nonroot data in any case

[2021-08-09 02:14] jichenjc opened #206 "add webhook readiness and health check"
**User Story**

Currently the readiness of our controller deployments does not include the webhook server. I.e., the deployment is already ready even when the webhooks are not up.

see
https://github.com/kubernetes-sigs/cluster-api/pull/4989
for additional info

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Misce

[2021-08-09 06:00] krasimirdermendzhiev commented on #203
I'm trying to fix the problem and when I configure ConfigMap
[code]
I don't have logs
[code]
in my etcd pods but stil have problem when I try to create I have message:
cannot find sts/etcd in ns default-8e1cb1-vc-sample-1: default-8e1cb1-vc-sample-1/etcd is not ready in 120 seconds

This is my logs from the pod:
`kubectl logs pod/etcd-0 -n default-8e1cb1-vc-sample-1  `
[code]

[2021-08-09 08:20] krasimirdermendzhiev commented on #203
I stoped here
[code]

[2021-08-09 12:21] vincent-pli opened #208 "Why need Patroller"
No matter `upward`(UWController) or `downward`(MCController) synchronization are all based on `informer`. so why we still need a 60s polling `Patroller` to compare resource from super and tenant manually?

Is some potential risk for `informer`? thanks.
@Fei-Guo @charleszheng44 @christopherhein

[2021-08-09 17:19] Fei-Guo commented on #208
There are rare cases where tenant and super can be inconsistent. For example, deleting pods requires kubelet to delete the Pod with graceperiod 0. In VC, it is the syncer's duty to finally delete the tenant Pods with graceperiod 0. If the super cluster Pod is deleted too quickly, the syncer may not be able to delete the tenant Pod (the object in super cluster is gone and syncer cannot find the ten

[2021-08-09 18:05] Fei-Guo commented on #203
Can you list everything in default-0994e6-vc-sample-1 namespace? May sure you have configured a headless Service for etcd Pod.

This is my local setup:

[code]

[2021-08-09 18:08] Fei-Guo commented on #203
I am not sure if you can hardcode the url to "localhost:2379" as a temporal workaround. @charleszheng44 may provide more ideas.

[2021-08-10 01:26] jichenjc opened #209 "Create conformance and e2e test"
**User Story**

we have ut now but lack of e2e and conformance test now .. so need create such test suite

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-08-10 05:37] krasimirdermendzhiev commented on #203
[code]

[2021-08-10 06:03] Fei-Guo commented on #203
This makes me think it is core dns problem. Can you `kubectl exec` into the etcd Pod and check if the dns service in the super cluster is actually working?

[2021-08-10 06:32] krasimirdermendzhiev commented on #203
[code]
[code]

[2021-08-10 06:39] vincent-pli commented on #208
Thanks @Fei-Guo , very useful, I will keep the issue open I guess people may has same question.

[2021-08-10 07:51] krasimirdermendzhiev commented on #203
I tried with 127.0.0.1 for
[code]
and the etcd is created!

[2021-08-11 06:24] krasimirdermendzhiev commented on #203
Yes I think the same like you "the problem happened because the Etcd service (`etcd-0.etcd`) is not accessible before the Etcd pod is ready, while the Etcd pod itself needs to visit the Etcd service."

Thank you, folks!
P.S. I will close and if somebody need it can open it.

[2021-08-11 06:24] #203 closed

[2021-08-13 03:32] jichenjc commented on #209
- [ ] polish the Makefile and tools to generate required stuffs
- [ ] add e2e test framework (create kind cluster and init it )
- [ ] run simple test (cluster-sample)
- [ ] add additional test cases
- [ ] prow to trigger each PR of the submission

[2021-08-17 17:05] #206 closed

[2021-08-21 17:59] christopherhein commented on #69
/remove-lifecycle stale

[2021-08-31 08:56] vincent-pli opened #212 "Refresh the image on docker hub"
Please refresh the image on the docker hub: virtualcluster/manager-amd64

People will always hit this issue #198 without refresh the image with latest source code and the whole function will not work.
@charleszheng44 @christopherhein @Fei-Guo

[2021-08-31 20:30] Fei-Guo commented on #212
@christopherhein   Should we put vc related images in CAPN image repo instead of virtualcluster dockerhub repo?

[2021-08-31 22:59] yaron2 opened #213 "DNS resolution not working"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Trying to connect to pods using Kubernetes Services results in connection refused errors.

**What did you expect to happen:**

Kubernetes services are working.

**Anything else you would like to add:**

Installed master branch version of VC on an AKS cluster.

When trying to access Servic

[2021-09-08 22:32] christopherhein commented on #44
/remove-lifecycle rotton
/lifecycle freeze

[2021-09-08 22:32] christopherhein commented on #208
@vincent-pli would you like to turn this into a PR with these notes written up in the virtualcluster readme?

[2021-09-08 22:41] christopherhein commented on #63
/remove-lifecycle stale
/lifecycle frozen

[2021-09-08 22:41] christopherhein commented on #62
/remove-lifecycle stale
/lifecycle frozen

[2021-09-08 22:49] christopherhein commented on #212
Yeah, this is in essence a dupe of #129 and #130 which is the proper place for released images.

[2021-09-13 03:11] crazywill opened #215 "Webhook self-signed certificate issues for Virtual Cluster"
In #145 and #161, we use self-signed certificate for ValidatingWebhookConfiguration. However, when vc-manager has multiple replicas,  every vc-manager will generate a new ValidatingWebhookConfiguration and delete old ValidatingWebhookConfiguration.  That's will case the webhook raise certificate error except for the latest vc-manager pod.

`https://virtualcluster-webhook-service.kube-system.svc:94

[2021-09-13 17:52] christopherhein commented on #215
/kind bug

[2021-09-13 18:08] Fei-Guo commented on #213
Have you looked at this document https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/tenant-dns.md ?

[2021-09-13 21:39] christopherhein commented on #117
/remove-lifecycle stale
/lifecycle frozen

[2021-09-13 21:39] christopherhein commented on #133
/remove-lifecycle stale
/lifecycle frozen

[2021-09-13 21:39] christopherhein commented on #131
/remove-lifecycle stale
/lifecycle frozen

[2021-09-13 21:39] christopherhein commented on #130
/remove-lifecycle stale
/lifecycle frozen

[2021-09-13 21:39] christopherhein commented on #128
/remove-lifecycle stale
/lifecycle frozen

[2021-09-14 04:37] christopherhein commented on #41
/remove-lifecycle stale
/lifecycle frozen

[2021-09-14 08:20] vincent-pli commented on #215
@crazywill
Just curious, why `vc-manager` has multiple replicas? it's a `controller`, if there are more than one replicas, everyone will try to handle same object in its reconcile, that's not acceptable.

If you want to handle heavy load in the `controller`, you should increase the number of concurrent thread for the `reconcile` rather than make more replicas.

[2021-09-14 11:49] crazywill commented on #215
@vincent-pli Thank you for your reply.
As a controller, vc-manager runs in leader election mode, so it works well while having multiple replicas. But as a webhook, every replicas use its own caBundle, only the latest one can handle request.

[2021-09-15 09:41] vincent-pli commented on #215
@crazywill I'm afraid you are right, I try to fix it but I do not want to change too much.
Seems `controller-runtime` consider the case, see here: https://github.com/kubernetes-sigs/controller-runtime/issues/356

[2021-09-22 16:48] christopherhein commented on #129
/remove-lifecycle stale
/lifecycle frozen

[2021-09-27 20:14] christopherhein commented on #141
/remove-lifecycle stale
/lifecycle frozen

[2021-09-27 20:14] christopherhein commented on #132
/remove-lifecycle stale
/lifecycle frozen

[2021-09-29 00:33] ju187 opened #218 "clusterctl init error"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Following the clusterctl demo.
1. Create a cluster with kind 0.11.1
2. clusterctl init xxxx
   got error "Error: current version of clusterctl is only compatible with v1beta1 providers, detected v1alpha4 for provider cluster-api"

**What did you expect to happen:**
Expect master cluster se

[2021-09-29 20:34] tallclair commented on #69
For context, here's the KEP behind the upstream change: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1558-streaming-proxy-redirects

[2021-09-30 16:06] #218 closed

[2021-09-30 17:04] ju187 opened #220 "failed to create virtual cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Following the steps in quick start. Tried several k8s such as minikube, kind and EKS, always got this error
cannot find sts/apiserver in ns default-31ceae-vc-sample-1: default-31ceae-vc-sample-1/apiserver is not ready in 120 seconds

**What did you expect to happen:**
The virtual cluster s

[2021-09-30 18:20] ju187 commented on #220
Duplication of #198

[2021-09-30 18:20] #220 closed

[2021-09-30 19:31] ju187 opened #221 "install istio in tenant cluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Following the demo doc.  The tenant cluster is up but istio pod stuck at pending with no detailed information.  Istio was installed on the master cluster fine.  My question is whether the nested cluster support istio?  Thanks.

Tony

**What did you expect to happen:**
The nested cluster sh

[2021-10-02 23:29] christopherhein commented on #31
/reopen

[2021-10-04 04:59] christopherhein commented on #156
/remove-lifecycle stale
/lifecycle frozen

[2021-10-11 11:12] MadhavJivrajani commented on #44
/remove-kind design
/kind feature
`kind/design` is migrated to `kind/feature`, see https://github.com/kubernetes/community/issues/6144 for more details

[2021-10-14 06:25] wyike opened #224 "Switch imagePullPolicy from Always to IfNotPresent for nested controlplane components"
notice controller plane components including apiserver, controller-manager, etcd yamls are using Always imagePullPolicy, eg: https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/controlplane/nested/component-templates/nested-etcd/nested-etcd-statefulset-template.yaml#L22, which is not convenient if hitting docker pull limit error, even after manually load images to cluster node

[2021-10-14 07:00] MartinForReal opened #225 "Migrate to v1beta1 contract"
**User Story**

As cluster api is moving to GA, It dropped support for v1alpha4 contract. Migration to v1beta1 is required.

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[code]
/kind feature

[2021-10-19 17:34] christopherhein opened #227 "Ability to deploy vn-agent as a deployment in control plane namespace"
**User Story**

As an operator I would like to deploy the vn-agent with each control plane for better identity trusting between control plane and the vn-agent.

**Detailed Description**

For now, the code base needs to have the CN set to the name of the control plane namespaces in order to figure out the name of the tenant control plane to work out the prefixing - this was implemented in vc-manage

[2021-10-26 21:08] lukeweber opened #231 "VC-Syncer fails to sync pods with optional secrets"
**What steps did you take and what happened:**

Apply the following to a virtual cluster:

[code]

**What did you expect to happen:**

Expected it to schedule but the pod is stuck in pending state.

Events:
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- kind v0.11.1
- super cluster - Version: GitVersion:"v1.1

[2021-11-01 22:55] #231 closed

[2021-11-02 00:21] #31 closed

[2021-11-10 11:55] #44 closed

[2021-11-18 06:38] christopherhein commented on #209
/remove-lifecycle stale
/lifecycle frozen

[2021-11-24 09:46] jasonliu747 commented on #198
Hi @gyliu513 do you have any update on this demo.md? Thanks.

[2021-11-24 09:48] jasonliu747 commented on #198
/remove-lifecycle stale

[2021-11-24 13:40] gyliu513 commented on #198
@vincent-pli I recalled you opened another issue to track this? What is the status?

[2021-12-06 05:22] eightzero opened #235 "Cannot create a VirtualCluster"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

[code]

**What did you expect to happen:**

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[code]

[code]

**Environment:**

- cluster-api-provider-nested version: latest
- Minikube/KIND version: kubeadm
- Kubernetes ve

[2021-12-06 10:51] eightzero commented on #235
There is no front-proxy-ca secret
[code]

[2021-12-07 22:55] k8s-triage-robot opened #236 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:28] justaugustus commented on #236
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:28] #236 closed

[2021-12-08 22:56] k8s-triage-robot opened #237 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 02:59] #164 closed

[2021-12-09 03:04] justaugustus commented on #237
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:04] #237 closed

[2021-12-13 08:44] #182 closed

[2021-12-14 18:05] Fei-Guo commented on #235
Sorry for the late reply. I think the problem should be the vc-manager image is outdated in docker hub. Can you try to build vc-manager locally and try again?

Thanks

[2021-12-15 03:12] #235 closed

[2021-12-15 03:13] eightzero commented on #235
Thanks for your reply

[2021-12-17 07:16] jasonliu747 commented on #212
/remove-lifecycle stale

[2021-12-17 07:19] jasonliu747 commented on #212
Any update on this issue?
/cc @christopherhein @vincent-pli @Fei-Guo

[2022-01-03 03:14] #201 closed

[2022-01-12 08:24] MartinForReal commented on #225
/close

[2022-01-12 08:24] #225 closed

[2022-01-12 09:30] jasonliu747 commented on #183
I actually could reproduce this issue. Neither -v nor --v would work. 😢
Have you found anything? @jichenjc

[2022-01-12 17:14] kfox1111 commented on #225
Was it fixed?

[2022-01-17 05:26] weiling61 opened #240 "Performance and Resource Contention in Multiple Tenant Environment"
**User Story**
Would like to add:
- Plugin to validate and limit total resource usage of a virtual cluster (tenant)
- Add per virtual cluster working queue and workers in mccontroller to prevent contention among tenants.

**Detailed Description**
Performance and resource contention among tenants are not fully addressed by virtual cluster. More monitoring or enforcement logics are needed to control

[2022-01-17 17:56] christopherhein commented on #227
/lifecycle frozen

[2022-01-20 02:27] christopherhein commented on #240
Hey @weiling61 thanks for filing this. I think there might be two parts to this issue that we can probably untease. 1. a plugin architecture that would allow someone to customize the builtin resource syncers For now I'm going to focus on the plugin architecture. (I believe we have other outlets to improve performance of the max workers with how the fair queue is setup per tenant)

Understanding th

[2022-01-20 23:48] weiling61 commented on #240
I think MutatorFn and ValidatorFn plugins should not be registered in pod init().?  The whole purpose is to let user to register the plugins outside current CAPN syncer code.  Using pod syncer as an example,  I propose to have a validation function being called at very beginning of "reconcilePodCreate()" and have mutation function being called at very end of "reconcilePodCreate()". By default, no

[2022-01-21 01:44] Fei-Guo commented on #240
"Syncer Performance Contention" we use fair queuing for the dws requests hence the contention should have been addressed.

Why not implementing webhook for quota check in the super cluster? In my opinion, we should not extend syncer for quota check. The syncer is just for state synchronization, it should avoid doing extra logic as much as possible.

[2022-01-26 04:57] Fei-Guo commented on #240
I think we agree to make the extension for capacity planning purpose only. @weiling61 It will be nice to come up with a design proposal for that. Looking forward to it. Thanks

[2022-01-27 00:40] christopherhein commented on #183
cc @charleszheng44 did you work on the vn-agent? it looks like klog isn't configured properly with verbosity levels…?

[2022-01-27 06:21] charleszheng44 commented on #183
I will take a look.

[2022-01-27 06:21] charleszheng44 commented on #183
/assign

[2022-02-05 23:51] #208 closed

[2022-02-10 18:50] #213 closed

[2022-02-12 12:09] #215 closed

[2022-02-14 21:55] srirammageswaran8 opened #251 "✨ Metrics for vn-agent"
## User Story

As an operator I would like to export metrics for vn-agent.

## Detailed Description

vn-agent does not export metrics at this point. A metrics server is to be enabled by default on the address `:9100` and allowed to be configured by the cli option `--metrics-addr` options. The metrics server can be disabled by cli option `--enable-metrics` to `false`. The metrics are default enable

[2022-02-14 21:57] christopherhein commented on #251
/retitle ✨ Metrics for vn-agent

[2022-02-14 21:57] christopherhein commented on #251
/assign @srirammageswaran8

[2022-02-14 21:58] christopherhein commented on #251
Thanks @srirammageswaran8, this makes sense to me it will be good to be able to understand the health of each vn-agent and the how they are performing.

cc @Fei-Guo & @charleszheng44  concerns or thoughts?

[2022-02-14 22:06] Fei-Guo commented on #251
Since the vn-agent simply proxies the kublet APIs, I don't see strong need of having pprof enabled. It does make sense to add tenant related metrics in vn-agent.

[2022-02-14 23:08] srirammageswaran8 commented on #251
Updated Description and @Fei-Guo agree with you on pprof.

[2022-02-15 15:35] atosatto commented on #251
I don't think this is necessary. Perhaps users that don't want to collect metrics can just bind `localhost`.

[2022-02-15 15:59] christopherhein commented on #251
Issue with This an a traditional deployment the vnagent is run using host networking as a daemonset. So binding to `localhost` would still make that accessible to clustered workloads.

[2022-02-15 18:18] atosatto commented on #251
LGTM then!

[2022-02-16 17:38] #251 closed

[2022-02-23 06:30] jasonliu747 commented on #198
/remove-lifecycle stale

[2022-02-26 21:54] #69 closed

[2022-02-27 21:03] #221 closed

[2022-03-13 08:41] #224 closed

[2022-03-21 09:58] #197 closed

[2022-03-25 04:17] weiling61 opened #265 "Need Resource Syncing Policy"
# User Story

As an operator, I would like to control which resource needs to be synced to tenant virtual cluster for security and billing purpose.

# Detailed Description

## Issue and Requirement

* Not all super cluster resources need to be synced to every tenant virtual cluster. Some tenant may be allowed to use only limited types of resources in their cluster, for example, only a subset of st

[2022-03-25 04:20] weiling61 commented on #265
@christopherhein @Fei-Guo

[2022-03-25 23:51] Fei-Guo commented on #265
I am not fully convince the need of making syncing super resources be per-tenant basis. We can discuss it in community meeting.

[2022-03-29 17:02] christopherhein commented on #227
/close

[2022-04-18 21:53] mghlaiel commented on #203
Hi, @krasimirdermendzhiev @Fei-Guo @charleszheng44
I ran into the same issue with `rancher Kubernetes v1.21`, `coredns`, and `calico`. I tried hardcoding the URLs to `localhost` and I get the same error in the container logs:
`"netutil/netutil.go:121","msg":"failed to resolve URL Host"`

PS: I can't exec into the container as it doesn't start.

Thank you

[2022-04-29 17:57] mkcetinkaya opened #271 "Virtual Cluster k8s version"
Hello,

We succesfully deployed super cluster and virtual clusters. Firstly, thanks for your efforts.

Super cluster version 1.21.9 and Virtual cluster version is 1.16.2. And our expectation was Virtual cluster version also same as super cluster (1.21.9) or something else that we can define decleratively.

So our question is that can we define virtual cluster kubernetes version or every time it wi

[2022-05-02 18:00] christopherhein commented on #265
An update, we discussed this a handful of weeks ago and the consensus was this makes sense in the case that you want to expose "platform/super cluster" features to specific tenants.

Implementation wise:
* Labels on resources that explicitly allow this type of control eg `tenancy.x-k8s.io/public.clusters: <vcname>,<vcname>`
* Update the VC Syncer to support loading configs from a file then mutatin

[2022-05-04 09:14] mkcetinkaya commented on #271
Hi again,

Quick update. We have used upstream kubapi-server and controller-manager images (1.21.X). Successfully created vc. However could not deploy pod, it hangs at pending state and  kubernetes default service related to virtual cluster is not being created in super cluster. When we check vc-syncer logs we got below message.

dws.go:65] failed reconcile service default/kubernetes CREATE of clu

[2022-05-04 17:20] m-messiah opened #272 "Add a label to all namespaces created by virtualcluster controller"
**User Story**
As an operator I would like to have more control over resources listed by controllers to reduce the overall load to the API

**Detailed Description**
VirtualCluster controller and in particular namespace syncer garbage collector list all resources in the cluster and only then filters them by virtualcluster annotations (like tenancy.x-k8s.io/vcname) https://github.com/kubernetes-sigs

[2022-05-11 19:09] #272 closed

[2022-05-16 08:33] #212 closed

[2022-05-17 13:48] m-messiah opened #275 "SuperClusterLabelFilter feature gate is missing root namespaces"
**What steps did you take and what happened:**
Enable SuperClusterLabelFilter and SuperClusterLabelling features in syncer. Create and delete virtual cluster.
Virtualcluster root namespace left in the supercluster forever (and eats resources with control-plane).

**What did you expect to happen:**
The super cluster has no leftovers, its state is the same as before virtualclusters.

**Anything else

[2022-05-17 15:18] #275 closed

[2022-05-18 21:04] guettli opened #277 "Please extend README.md"
**User Story**

I am curious, but unsure what cluster-api-provider-nested is.

As a developer I would like to understand what it is, so that I understand the difference to other solutions (like vCluster)

It would be great, if you could extend the README. Thank you

/kind feature

[2022-06-09 14:41] davenull opened #278 "v1alpha4 api version not supported by capi"
**What steps did you take and what happened:**
Following the docs in the quickstart, I applied the following command:

[code]

**What did you expect to happen:**
I expected the command to deploy the provider.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-nested version: Current Main
- Minikube/

[2022-06-17 09:26] shubheksha commented on #277
/assign

[2022-06-23 09:05] FillZpp opened #281 "VirtualCluster should support to sync specific conditions of PodStatus from tenant to super"
**User Story**

As a developer, I would like VirtualCluster to support to sync specific conditions of PodStatus from tenant to super, for some user-defined condition types are designed to be added by users or controllers from tenant cluster.

For example, [OpenKruise](https://openkruise.io) provides some workloads that support in-place update for Pods, so we define a `InPlaceUpdateReady` type read

[2022-06-24 00:50] christopherhein commented on #281
Interesting idea, I'm trying to think of how we could accomplish something, it leads us a little into a more split-brain super & tenant then have context that matters vs making spec tenant authoritative for the `.spec` and super for the `.status`. How does this function under the hood when an update actually happens? Would the syncer need to push patches/updates to the pod specs for that in-place

[2022-06-24 00:51] Fei-Guo commented on #281
Thanks for filing the issue, I understand the request and I think we should address it. One problem is that both tenant control plane and super cluster may update the conditions specified in the readiness gate. The bigger problem is that the status now has two sources of truth in two etcds, which makes it difficult to avoid overwriting under races.

[2022-06-24 00:59] Fei-Guo commented on #281
@FillZpp, a workaround is to add a Pod label by Kruise controller when the readiness gate is ready, to indicate the syncer to set the condition in the super cluster, which I admit is definitely a hack.  I cannot think of a more elegant solution at the moment.

[2022-06-24 06:31] FillZpp commented on #281
Thanks for all your replying.

Alright, forget about the in-place upgrade, which is just a case we noticed. Actually this is a common request, for Kubernetes provides [readinessGate feature](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate) to let users control whether a Pod should be ready or not.

[code]

When we set a custom conditionType in `spec.readinessGa

[2022-06-24 06:45] wondywang commented on #281
Maybe we can use some tricks like protectedMetaPrefixes to setup a list to determine which status conditions should be sync from tenant cluster to super cluster?

[2022-06-25 06:12] #240 closed

[2022-06-27 06:49] ThunderYe commented on #281
@Fei-Guo  @FillZpp I agree there should be a mechanism to config the down/up  syncing behave，but can we  let a default configuration to support a quite common scenario ? The most common one is  :The kurise is only installed  in Tenat Cluster, let it work as it works as in Super Cluster, while Kurise needn't to any change anying.
      Other scenario, for example some controller will work in Super

[2022-06-27 09:13] zhuangqh commented on #281
already supported in this pr https://github.com/kubernetes-sigs/multi-tenancy/pull/1294
did you meet some bug in testing?

[2022-06-27 15:22] Fei-Guo commented on #281
This implementation is straightforward but there is a very tiny race window in theory such that tenant condition can be overwritten. If the readiness condition is updated by tenant at the time between `CheckUWPodStatusEquality` and `vPod.Update()`, the readiness condition can be overwritten by the  `vPod.Update()` call. Syncer was not designed to handle all kinds of races, it uses periodic scannin

[2022-07-07 00:47] christopherhein opened #282 "✨ Projected ServiceAccount Support"
**User Story**

As a user I would like to use ServiceAccount Projection from a VirtualCluster so that I can expose my cluster as an Identity provider and issue certs to tools like vault.

**Detailed Description**

Upstream Kubernetes added support for ServiceAccount projection but it requires that the kubelet make requests on behalf of a workload to grant it tokens with specific audiences and expi

[2022-07-15 19:14] Fei-Guo commented on #282
I agree. From modeling perspective, the syncer can be viewed as the "Kubelet" for all tenants since it honors the Pod lifecycle events for all tenants and provision the actual workload. It can "fork" the kubelet behavior to support SA token auto refresh.

During Pod creation, syncer can request a valid token, add the projection spec in a special annotation, and mutate the project volume to secret

[2022-07-20 17:44] m-messiah opened #291 "🐛 Add ReadHeaderTimeout values"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
The following lint errors started showing up after the latest upgrade to golangci-lint (v1.47.1):

[code]

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api-provider-nested/labels?q=area for the list of labels]

[2022-07-20 18:13] christopherhein commented on #291
Thanks for catching this, I wonder if we should consider upgrading to 1.47.1 golangci-lint and then make sure we resolve this in that addition?

[2022-07-21 14:49] #291 closed

[2022-07-22 00:21] wondywang opened #293 "Resource already exists and the UID is different should not requeue"
**What would you like to be added?**
When the DWS synchronization resource is encountered but its delegated object UID is different in the `reconcileXXXCreate` process, it should not re-enter the queue, because the event will also not be processed in the subsequent process.

Currently:
[code]

Expect:
[code]

**Why is this needed?**
If the queue is not dequeued so early, the abnormal tasks will co

[2022-07-22 00:24] wondywang commented on #293
/assign @Fei-Guo
/assign @christopherhein

[2022-07-22 01:02] Fei-Guo commented on #293
The UID mismatch can happen in certain cases such as the VC create/delete the object using the same name or the syncer restarts.  The Patroller will fix the mismatch by removing the stale object in the super cluster. You can skip requeue since the problem should be fixed by the patroller which runs every minute. I implemented with the retry for UID mismatch in DWS to target the case where  VC crea

[2022-07-22 01:35] wondywang commented on #293
Thank Fei. Yes, the patroller will fix the missing resource, but it will also ignore the UID differences.

[2022-07-22 01:39] wondywang commented on #293
It's some feature gates of kubernetes 1.20. It will auto-gen an configmap named kube-root-ca.crt under each namespace both on tenant and super cluster.

[2022-07-22 04:38] Fei-Guo commented on #293
We do clear the mismatch in super (the way we handle Pod can be different)
https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/6428e489de2c17ebac96c1f41c0b7a33e0f118b9/virtualcluster/pkg/syncer/resources/service/checker.go#L106

[2022-07-22 04:49] Fei-Guo commented on #293
Now I understand the problem. Do you know how this configmap is commonly used? If user wants to use the configmap in VC namespace in the pod, we have to rename it in super cluster and change the pod spec unfortunately.  By the meantime, you can change the dws to skip this specific cfgmap to avoid the error.

[2022-07-22 13:54] wondywang commented on #293
As I known, the feature gates is RootCAConfigMap, https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#service-account-automation.

Thanks Fei, I've made a change, please check it out.

[2022-07-23 07:17] #198 closed

[2022-08-03 19:25] mghlaiel opened #296 "update (virtual cluster) validation webhook registration to support admission.../v1"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I followed the README guide to deploy a virtual cluster on kind (kubernetes v1.24) then rancher RKE (kubernetes version 1.23)
[code]
Logs of the `vc-manager` pod:
[code]
**What did you expect to happen:**
A virtual cluster successfully created and kubeconfig output

**Anything else you wou

[2022-08-16 09:34] wondywang opened #297 "Support exposing single annotations/labels via env downward API"
**User Story**

As a developer, I would like VirtualCluster to support exposing annotations/labels via env downward API.

**Detailed Description**
For example:
[code]
The fieldRef used for that will sync to the super cluster.

**Anything else you would like to add:**

More information about this issue: [#31218](https://github.com/kubernetes/kubernetes/issues/31218)

/kind feature

[2022-08-16 17:11] #297 closed

[2022-08-24 03:52] wondywang commented on #282
Hi @christopherhein , do you have any plan to support this feature? Just want to make sure this issue is still on track. :smile:

[2022-09-15 11:54] m-messiah commented on #271
Hi! We updated samples in https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/301
1.22.13 is the last version tested, but you could try anything else, as you see, the tenant cluster version is configurable

[2022-09-16 05:40] mkcetinkaya commented on #271
Hello @m-messiah first of all thanks for the update.

We tried same version with your suggested example yaml. Virtual cluster with version 1.22.13 was deployed succesfully. However when we deploy some pods its state is in pending state and describe pod output is like that

" Warning  FailedCreate  11s (x12 over 21s)  vc-syncer  Error creating: failed to list services from cluster default-35c1d7-vc

[2022-09-22 00:38] wondywang opened #308 "Pod Checker occasionally deletes vPods unexpectedly"
**What steps did you take and what happened:**

When there are a large number of VCs in the cluster, vPods are unexpectedly deleted by the Pod Checker accidentally. The logic that triggers deletion is in https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/pkg/syncer/resources/pod/checker.go#L313.

[code]
Here, we get the pList  and vList  cache in two steps with

[2022-09-22 00:41] wondywang commented on #308
/assign @Fei-Guo
/assign @christopherhein

[2022-09-23 00:40] Fei-Guo commented on #308
Thanks for catching this! I think the double check of pPod seems to be a good fix.

[2022-09-23 16:00] #308 closed

[2022-09-26 16:17] m-messiah opened #312 "Consider extending conversations package to work with vNodes"
**User Story**
As a developer today I need to make my own conversions of vNode to pNode objects, while we already have a package to do it for all other resources. I would like to have the process be more generic and transparent for any object in the cluster

/kind feature

_Originally posted by @christopherhein in https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/309#pullrequestr

[2022-09-26 19:02] christopherhein commented on #312
Thanks for filing this!

[2022-09-29 20:23] #265 closed

[2022-10-05 11:35] m-messiah commented on #63
We have another issue creating VirtualCluster in 1.20:

[code]

It is very likely related to https://github.com/kubernetes/kubernetes/pull/95423 and I will test conversion of fields to pointers shortly

[2022-10-10 00:47] wondywang opened #318 "🐛 Pod Mutator has order requirements"
**What steps did you take and what happened:**
Because the `PodServiceLinkMutatorPlugin` PodMutator is executed later than `PodMutateDefault`, the enableServiceLinks switch does not take effect, and the Services in the namespace where the pPod is located is injected into the Pod as an environment variable.

[code]
Pod Mutator has order requirements. Pod.Spec.EnableServiceLinks needs to be set befo

[2022-10-10 00:49] wondywang commented on #318
/assign @m-messiah
would you be able to take a look? thanks

[2022-10-11 02:06] aanoaa commented on #146
I faced this error cause my shell has [GITHUB\_TOKEN](https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret) environment.

<https://github.com/kubernetes-sigs/cluster-api/blob/main/cmd/clusterctl/client/repository/repository_github.go#L175>

after unset works.

[2022-10-11 15:37] #318 closed

[2022-10-12 10:52] wondywang opened #320 "Pod DWS support container Commands&Args update"
**User Story**

As a user I would like to both change container image.name and commands. But i found that Pod DWS sync only image.name, except commands.  Maybe sometimes, it is possible that the startup parameters of the image also need to be changed synchronously.

**Detailed Description**

[code]

Pod DWS should support container Commands&Args update also.

/kind feature

[2022-10-13 01:56] wondywang commented on #320
the kubernetes community version does not allow container commands. i should close this issue.

[2022-10-13 01:56] #320 closed

[2022-10-16 07:32] #271 closed

[2022-10-25 13:18] wondywang opened #322 "✨PersistentVolumeClaim support UWS status update"
**User Story**

As a user, I want to update the spec.resources.requests.storage of PVC, but I found that after updating requests.storage, status.capacity.storage is not updated synchronously, resulting in an exception when kubectl get pvc.

**Detailed Description**

![image](https://user-images.githubusercontent.com/13549903/197783042-68e82719-d56d-43cd-b693-3572752a9441.png)

**Anything else you

[2022-10-26 01:45] wondywang commented on #322
Yes，At present, the PVC status.capacity is updated by the CSI driver after allocating storage space. and now after the spec.requests.storage of the PVC is updated in the VC, it is synchronized to the super, and then the PVC status on the super is updated by the CSI driver, but the status in the VC has not been updated.

[2022-10-26 03:36] Fei-Guo commented on #322
Sure. Then adding uws makes sense.  Btw, I did not get this part " an exception when kubectl get pvc." .  What is the error?

[2022-10-26 04:00] wondywang commented on #322
[code]

It will show like this, capacity is displayed incorrectly. But in fact, the storage of PVC has been updated.

[2022-11-01 08:46] #322 closed

[2022-11-06 15:57] #278 closed

[2022-11-07 04:01] LuBingtan commented on #296
It seems that this issue is already fixed by this commit: https://github.com/kubernetes-sigs/cluster-api-provider-nested/commit/c9cb5b71b29945675e441b38c12b2a24d9bbba29

**But** image `virtualcluster/manager-amd64:latest` was not updated. You can build the image on your local machine, and load it to kind.

By the way, is there anyone can help to update the image `virtualcluster/manager-amd64:lates

[2022-11-07 09:25] LuBingtan opened #325 "[VirtualCluster] Error creating: failed to list services from cluster xxxxx cache: service is not ready"
**What steps did you take and what happened:**
I followed the vc demo doc [here](https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md) to create a virtual cluster.

But when I tried to [create a pod in the vc](https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md#lets-do-some-experiments). The pod is alway

[2022-11-08 02:20] wondywang commented on #325
Hi, @LuBingtan. Which version of virtual cluster and root cluster are you running? And I did not get this part "There is apparently no services in that namespace". This doesn't make sense, it should have at least kubernetes.default.svc.

[2022-11-08 04:48] LuBingtan commented on #325
Hi, I have retried and found the root cause might be that the `kubernetes.default.svc` failed to be synced.
Error logs:
[code]
It looks like `ClusterIPs` should also be reset before creating.
https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/4cc1422fd340d19c0d21b4f336dc664e45a12954/virtualcluster/pkg/syncer/conversion/mutate.go#L422-L431

@wondywang  What do you think? If this th

[2022-11-08 05:06] christopherhein commented on #293
/reopen

@wondywang @Fei-Guo I'm going to reopen this issue, upstream removed the feature gate for this and made it locked on in 1.21, so you can't disable it anymore. This means the syncer gets locked up with tenant or supers at 1.21+ and default configs for 1.20.

[2022-11-08 05:10] christopherhein commented on #293
I would like to introduce special handling for this since it's not possible to disable it at all. What I am thinking is to keep support across the board for this when we get a `kube-root-ca.crt` find DWS we add a resource named `tenant-kube-root-ca.crt` instead, then in Syncing Pods any ENV or Volume with this referenced change it to rename to `tenant-kube-root-ca.crt`. Lastly, in the checker disa

[2022-11-08 06:29] wondywang commented on #325
Thanks @LuBingtan . I'll check it out.

[2022-11-08 06:30] wondywang commented on #325
Thanks @LuBingtan , I'll check it out.

[2022-11-08 06:40] wondywang commented on #325
PTAL @Fei-Guo , It seems that it is indeed necessary to reset the `ClusterIPs` here. And we already do that internally.

[2022-11-08 17:10] Fei-Guo commented on #325
Yes, looks like a bug.  @wondywang  can you fix it?

[2022-11-08 18:04] christopherhein commented on #325
Agreed, seems like a great catch. thanks!

[2022-11-08 21:18] #293 closed

[2022-11-09 03:04] #325 closed

[2022-11-13 03:16] LuBingtan opened #329 "✨ Enhancement for virtual cluster DNS"
**User Story**

As a user I would like to use different versions of dns server in different tenants.

For example, CoreDNS v1.10.0 in virtual cluster A, and CoreDNS v1.9.2 in virtual cluster B.

**Detailed Description**
The current DNS solution is using CoreDNS with a specific patch ([tenant-dns doc](https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/tenant

[2022-11-13 03:21] LuBingtan commented on #329
I have tried this solution in my local development environment, and it seems work.

Also opened a PR for this (https://github.com/kubernetes-sigs/cluster-api-provider-nested/pull/330), plz take a look
/cc @wondywang @Fei-Guo @christopherhein

[2022-11-14 10:24] #277 closed

[2022-11-18 22:40] #329 closed

[2022-11-23 03:48] LuBingtan opened #332 "🐛[VC] Failed to do port-forward for a pod in virtual cluster"
**What steps did you take and what happened:**
I tried to port-forward for a pod in VC:
- Create a nginx pod in a virtual cluster
- Use a command like this `kubectl port-forward xxxx 9999:80`
- Then I got an error:
[code]

**What did you expect to happen:**
Port-forward command should be succeeded.

**Anything else you would like to add:**
It seems that the `"portForward"` here should be `"portfor

[2022-11-23 03:51] LuBingtan commented on #332
Opened a PR for this (#333 ), plz take a look
/cc @wondywang @Fei-Guo @christopherhein

[2022-11-24 02:46] #332 closed

[2022-11-24 17:12] #281 closed

[2022-11-26 06:17] guettli commented on #277
No newbie friendly docs, no new people, no new developers, no fun.